<h1>{{ title }}</h1>

<p>
  <a href="https://betterbuildingssolutioncenter.energy.gov/showcase-projects/university-virginia-campbell-hall">University of Virginia, Campbell Hall</a><br>
  Chiller plant optimization resulted in 35% energy savings and $82,000 in annual energy cost savings.
</p>

<p>
  <a href="https://betterbuildingssolutioncenter.energy.gov/showcase-projects/macys-ingram-park-mall">Ingram Park Mall, San Antonio, Texas</a><br>
  Chiller plant replacement resulted in 43% energy savings and 35% annual energy cost savings.
</p>

<p>
  <a href="https://www.csemag.com/articles/project-profile-chiller-retrofit-at-office-building/">Duke Realty Corp.</a><br>
  Retrofitting existing constant speed chillers with variable frequency drives reduced annual energy costs by 30%.
</p>
