<h1>{{ title }}</h1>

<p>A variable air volume (VAV) box is an airflow control device at the zone level, just upstream of the supply diffusers. The air coming from the air handler is distributed to the zone based on its ventilation in parallel to its heating or cooling needs. The air leaving the air handling unit (AHU) is maintained at a cool setpoint, typically between 55&deg;F and 65&deg;F, to meet the cooling needs of zones throughout the buildings. If heat is needed in a zone, it is provided at or near the VAV box through reheat coils (either electric or hot water).</p>

<p>Single duct VAV is widely used in laboratory applications. Here, the AHU serves a single zone only, not multiple zones with different ventilation and heating/cooling loads. A VAV box is not needed because the AHU modulates its control based on the thermostat and, if applicable, carbon dioxide, measured within the space. In more complex labs, the AHU will also control based on measurements of other pollutants in the space.</p>

<p>VAV box selection is important to ensure overall efficiency of the ventilation and heating/cooling system. In laboratory applications, the supply air and exhaust air must be tracked to ensure proper lab pressurization. Tracking is normally accomplished with airflow measurement in the box or sensing of box control position. In VAV boxes with reheat coils, this becomes even more important because the reheat coil size impacts the hot water return temperature. If the building is using condensing boilers, then the return water temperature must be below 130&deg;F to ensure the boiler is condensing which maintains a higher efficiency, typically between 90 to 95%. When the return temperature is too high, such as 150&deg;F or more, then no condensing is occurring in the boiler and it is operating at a lower efficiency around 80%.</p>

<p>The key parameters to consider when selecting VAV inlet size are:</p>
<ul>
  <li>Pressure drop across the box</li>
  <li>Ability to modulate precisely between the minimum and maximum airflows</li>
  <li>First cost including installation, control and testing, adjusting & balancing (TAB)</li>
  <li>Noise</li>
  <li>Space constraint</li>
</ul>

<p>Refer to the <a href="https://tayloreng.egnyte.com/dl/k7jRntdGmo/ASHRAE_Journal_-_Sizing_VAV_Boxes.pdf_">'Sizing VAV Boxes'</a> article by Steve Taylor for detailed guidance on calculating life cycle cost and determining minimum airflow set points.</p>

<h2>Resources</h2>
<ul>
  <li><a href="https://www.trane.com/content/dam/Trane/Commercial/global/products-systems/education-training/engineers-newsletters/airside-design/admapn047en_0413.pdf">Application Considerations</a>, TRANE</li>
  <li><a href="https://www.pnnl.gov/projects/om-best-practices/variable-air-volume-systems">Variable Air Volume (VAV) Systems Operations and Maintenance</a>, O&M Best Practice by PNNL</li>
  <li><a href="https://tayloreng.egnyte.com/dl/KxK5hoKzm0/ASHRAE_Journal_-_VAV_Box_Duct_Design.pdf_">VAV box duct design</a>, Steven Taylor, Taylor Engineering</li>
</ul>
