<h1>{{ title }}</h1>

<p>Thermal energy storage is a method of storing heating or cooling thermal energy by running equipment at off-peak hours. Ice, water, and phase change material are some commonly used storage media. Cool storage systems are most suitable for applications in which:</p>

<ul>
  <li>Peak total cooling load of the facility is significantly higher than the average load</li>
  <li>Utility's electric rate structure has high demand charges, ratchet charges, or a significant difference between on-peak and off-peak rates</li>
  <li>Facility is considering expanding cooling capacity </li>
  <li>An existing storage tank is available</li>
  <li>Redundancy in cooling systems is needed to make up for short-term cooling requirement.</li>
</ul>

<p>Refer to <a href="https://www.energy.gov/sites/prod/files/2020/02/f71/bto-IceStorageWebinar-011620.pdf">Thermal Energy Storage Webinar Series Ice Thermal Energy Storage</a> from the U.S. Department of Energy's Office of Energy Efficiency and Renewable Energy.</p>

<h2>Resources</h2>
<p><a href="https://www.techstreet.com/ashrae/standards/ashrae-design-guide-for-cool-thermal-storage-2nd-ed?product_id=2046532">ASHRAE Design Guide for Cool Thermal Storage</a></p>
