<a class="sr-only app" fragment="content" routerLink=".">Skip to main content</a>

<header [class.notopnav]="!showTopNav" id="banner">
  <div class="banner-logo">
    <div class="container app">
      <div class="row">

        <div class="col-md-6 col-xl-4 order-md-2">
          <a href="https://www.nrel.gov">
            <div [class.interior]="showAlternate" class="logo"><img alt="National Renewable Energy Laboratory" class="sr-only" src="../../../../assets/images/nrel-logo-web.svg"/></div>
          </a>
        </div>

        <div class="col-12 d-md-none">
          <!-- Start MOBILE collapsible site search bar -->
          <div class="site-search-bar">
            <div class="container">
              <div class="row">
                <div class="col d-flex justify-content-center mb-1">
                  <nav class="navbar navbar-light">
                    <div class="navbar-collapse collapse" id="searchbar-collapse-mobile">
                      <form
                        action="https://search4.nrel.gov/texis/search/"
                        class="site-searchbar-form form-inline ThunderstoneForm"
                        id="ThunderstoneSearchForm"
                        method="get">

                        <input name="pr" type="hidden" value="metanrel"/>
                        <div class="form-group">
                          <label class="sr-only" for="query">Search NREL.gov</label>
                          <input
                            aria-label="Search NREL.gov"
                            class="form-control" id="query"
                            maxlength="2047"
                            name="query"
                            placeholder="Search NREL.gov"
                            type="search">
                          <button class="btn btn-default" type="submit">Search</button>
                        </div>
                      </form>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <!-- End MOBILE collapsible site search bar -->
        </div>

        <div class="col-md-6 col-xl-8 order-md-1">
          <a class="app-name" routerLink="/">HVAC Resource Map</a>
        </div>

      </div>
    </div>
  </div>
</header>
