<h1>{{ title }}</h1>

<p>Labs are designed to keep occupants in a safe and comfortable space. However, the presence or lack thereof of occupants within an environment will alter what lighting and ventilation would result in such optimal conditions. If no occupants are present, then lights can be shut off and the ventilation air through the air handling unit reduced, resulting in energy savings. This is often accomplished using occupancy sensors.</p>

<p>There are numerous types of <a href="#/laboratories/sensor_basics">sensors</a> which can be employed for monitoring occupancy.</p>

<img class="img-fluid" src="assets/images/occupancy-sensors-illustration.jpg" alt="Diagram showing laboratory with occupancy sensor placement. Sensors are placed by each laboratory desk and in the attached offices.">
<p class="caption">
  <strong>Innovative Occupancy Sensor Layout by Emory University to control laboratory ventilation. Learn more in the case study linked in Resources below.</strong> Image courtesy of Chris Fox, Emory University
</p>

<h4>Resources</h4>
<ul>
  <li>ASHRAE Laboratory Design Guide second edition, Chapter 6 "Primary Air Systems"</li>
  <li><a href="https://smartlabs.i2sl.org/cs-emory-occupancy-sensors.html">Emory University Case Study: Lessons Learned - Implementing Occupancy Sensors in Labs</a></li>
</ul>
