<h1>{{ title }}</h1>

<h2>Resources</h2>

<ul>
  <li><a href="https://www.energy.gov/eere/amo/articles/fan-system-assessment-tool">The Fan System Assessment Tool (FSAT)</a>
    <br>A free online software tool that helps industrial users quantify energy use and savings opportunities in industrial fan systems.</li>
  <li><a href="http://www.vfds.org/vfd-savings-calculator.html">Variable Frequency Drive Energy Savings Calculator</a>
    <br>A tool to calculate the estimated annual energy savings and payback time for variable frequency drives (VFDs) on HVAC applications (fans and centrifugal pumps). </li>
  <li><a href="https://www.carrier.com/commercial/en/us/software/hvac-system-design/building-system-optimizer/">Carrier Building System Optimizer (BSO)</a>, Carrier
    <br>A screening tool for the schematic design phase of projects where multiple HVAC design alternatives need to be evaluated.</li>
  <li><a href="https://www.trane.com/commercial/north-america/us/en/products-systems/design-and-analysis-tools/trane-design-tools.html">Trane HVAC design and analysis tools</a>, Trane TRACE<sup>TM</sup>
    <br>A design tool for load analyses, air supply requirements, weather conditions, determining optimum HVAC system, piping, and duct configurations.</li>
</ul>
