<h1>{{ title }}</h1>

<p>Various calculators and tools are available to guide the assessment of research hazards and identify the correct exposure control devices. </p>

<ul>
  <li><a href="https://smartlabs.i2sl.org/docs/lvra-tool.xlsx">Laboratory Ventilation Risk Assessment (LVRA) Tool</a>
    <br>This tool guides users through the lab ventilation risk assessment – a systematic process for determining risk control bands, or risk levels, associated with research activities for each exposure control device and lab environment. We recommend visiting the <a href="https://smartlabs.i2sl.org/assess.html">Smart Labs Toolkit Assess Page</a> and reviewing the <a href="https://smartlabs.i2sl.org/pdfs/lvra-user-guide.pdf">LVRA User Guide</a> before starting the LVRA process.</li>
  <li><a href="https://smartlabs.i2sl.org/docs/air-change-rate-calculator.xlsm">Air Change Rate Calculator</a>
    <br>This calculator uses risk levels assigned during the LVRA process to determine the appropriate air change rate for mitigating exposure to airborne hazards for each lab space.</li>
  <li><a href="https://smartlabs.i2sl.org/docs/dilution-calculator.xlsx">Hazard Emissions Scenarios Dilution Calculator</a>
    <br>This calculator allows users to visualize the dilution of various chemicals in a space should an event occur that results in hazardous emissions. Using theory and conditional modeling based on characteristics for over a hundred chemical hazards, it provides a useful tool for determining how a chemical spill would affect the lab environment.</li>
  <li><a href="https://fumehoodcalculator.lbl.gov/">Laboratory Fume Hood Energy Modeler</a>
    <br>This calculator estimates annual fume hood energy use and costs for user-specified climates and assumptions about operation and equipment efficiencies. Users can create comparative energy-use scenarios.</li>
</ul>
