<h1>{{ title }}</h1>

<h2>Pump Maintenance</h2>
<p>If the pump is not operating near its best efficiency point, the power consumed will be high and disproportionate to the flow rate. Monitoring is recommended to identify such inefficiencies.</p>

<h2>Pump maintenance measures include:</h2>
<ul>
  <li>Preventive action measures: Measures taken to prevent a pump from failing, including coupling alignment, lubrication, and seal maintenance and replacement</li>
  <li>Predictive action measures: Measures that help compensate for unexpected equipment outage, including vibration analysis, motor current signature analysis, lubrication oil analysis, and periodic efficiency testing</li>
  <li>Periodic maintenance checklist: Checks of packing and mechanical seals for leakage, bearings for general condition, motors/pumps for alignment, and motors for general condition</li>
</ul>
<h2>For more details refer to:</h2>
<ul>
  <li><a href="https://www.energy.gov/sites/prod/files/2014/05/f16/maintain_pumping_systemsts5.pdf">Pumping System Tip Sheet #5, Maintain Pumping Systems Effectively</a>, U.S. Department of Energy, Office of Energy Efficiency and Renewable Energy, Industrial Technologies Program.</li>
  <li><a href="https://www.energy.gov/sites/prod/files/2014/05/f16/pump.pdf#page=37">Basic Pump Maintenance</a> chapter &lpar;page 33&rpar; of the <a href="https://www.energy.gov/sites/prod/files/2014/05/f16/pump.pdf">Improving Pumping System Performance: A Sourcebook for Industry</a>.</li>
</ul>

<h2>Training Resources</h2>
<h3>Pumping System Assessment Tool</h3>

<p>The Pumping System Assessment Tool &lpar;PSAT&rpar; is a free online pump assessment tool designed for plant managers and personnel to identify opportunities to improve pump energy efficiency.</p>
<ul>
  <li> <a href="https://www.energy.gov/sites/prod/files/2014/04/f15/psat_fs.pdf">PSAT fact sheet</a>, U.S. Department of Energy, Office of Energy Efficiency and Renewable Energy, Industrial Technologies Program</li>
  <li><a href="https://www.energy.gov/eere/amo/articles/pumping-system-assessment-tool-archive-version">PSAT Web page</a></li>
  <li><a href="https://www.energy.gov/sites/prod/files/2014/04/f15/psat_user_manual.pdf">User Manual</a></li>
</ul>
