<h1>{{ title }}</h1>

<h4>Resources</h4>

<ul>
  <li><a href="https://www.pnnl.gov/projects/best-practices/variable-air-volume-systems">Variable Air Volume (VAV) Systems Operations and Maintenance</a>, PNNL.
    <br>In-depth discussion of variable air volume system design, best practices, and component design considerations</li>
  <li><a href="https://www.yumpu.com/en/document/read/7625769/advanced-variable-air-volume-vav-system-design-guide">Design Brief: Advanced Variable-Air-Volume (VAV) Systems</a>, Energy Design Resources
    <br>Advanced VAV system design guidance with comparison table for common fan types</li>
  <li><a href="https://www.amca.org/assets/resources/public/userfiles/file/AMCA_010-013_Brendel.pdf">The Role of Fan Efficiency in Reducing HVAC Energy Consumption</a> by Dr. Michael Brendel, AMCA inmotion
    <br>Description of the fan efficiency grade (FEG) for classifying fan energy efficiency potential. The FEG is incorporated into ASHRAE Standard 90.1-2013 to specify minimum fan efficiency requirements.</li>
  <li><a href="https://www.amca.org/assets/resources/public/resources/FEG_Whitepaper_single%20pages.pdf">Introducing Fan Efficiency Ratios</a>, Air Movement and Control Association International, Inc.
    <br>Introduction to the fan efficiency ratio, a metric for evaluating fan efficiency relative to a baseline efficiency, both of which are calculated at a single airflow and pressure point.</li>
  <li><a href="https://files.danfoss.com/download/Drives/MG11BB22.pdf">VLT® HVAC Drive Design Guide</a>
    <br>Explains quantitative advantages of using variable frequency devices (VFD) also called variable speed devices (VSD).</li>
</ul>
