<h1>{{ title }}</h1>

<p>Cooling towers are heat rejection devices used to cool and condense the hot refrigerant gas from commercial HVAC chiller compressors. Cooling towers use evaporative cooling to provide cooling approaching the ambient wet-bulb temperature instead of the ambient dry-bulb temperature, which improves chiller performance. Cooling tower performance is determined by a balance of energy and water consumption of the cooling tower and the chilled water plant. Proper water maintenance is important for optimal performance.</p>

<img class="img-fluid rounded" src="assets/images/NREL_CT.jpg" alt="Photograph of a cooling tower for a central plant">
<p class="caption">
  <strong>Central plant cooling tower</strong> Photo by Dennis Schroeder/NLR 38443
</p>

<p>Some terms commonly used in the industry when dealing with cooling towers are provided in the list below. For a more comprehensive list, refer to
  <a href="https://www.klmtechgroup.com/PDF/EDG-SYS/ENGINEERING-DESIGN-GUIDELINES-cooling-towers-Rev2.2web.pdf">Cooling Tower Selection and Sizing (Engineering Design Guideline)</a> and
  <a href="https://www.canada.ca/en/environment-climate-change/services/national-pollutant-release-inventory/report/sector-specific-tools-calculate-emissions/wet-cooling-tower-particulate-guide.html">Wet Cooling Tower Guidance for Particulate Matter</a>.
</p>

<h2>Commonly Used Terms</h2>
<dl>
  <dt>Drift</dt>
  <dd>Water lost to the atmosphere due to misting</dd>

  <dt>Make-up water</dt>
  <dd>Supplementary water added into the system to account for losses due to drift, evaporation, blowdown, and leakage</dd>

  <dt>Total dissolved solids (TDS)</dt>
  <dd>Sum total of organic and inorganic material dissolved in the cooling water. Generally measured in ppmw or mg/L</dd>

  <dt>Blowdown/bleed</dt>
  <dd>Water released from the recirculating water system in order to reduce the concentration of dissolved solids</dd>

  <dt>Drift Eliminators</dt>
  <dd>Baffled device through which the air has to pass before leaving the cooling tower so that the water entrained in the air is collected</dd>

  <dt>Approach</dt>
  <dd>Difference between leaving cold water temperature and the ambient air wet-bulb temperature or entering water wet-bulb temperature</dd>

  <dt>Cycle of concentration (C.O.C)</dt>
  <dd>Ratio of the concentration of total dissolved solids (TDS) or conductivity in the blowdown water to the make-up water. COC can also be estimated by the ratio of the makeup water volume and the blowdown water volume</dd>
</dl>

<p class="pl-5">
  <code>
    COC = (TDS of blowdown) / (TDS of makeup water)<br>
    COC = (conductivity of blowdown) / (conductivity of makeup water)<br>
    COC = (makeup water) / (conductivity of makeup water)
  </code>
</p>

<h2>Types</h2>
<div class="table-responsive mt-5 mb-1">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Cooling Tower Type</th>
        <th>Flow</th>
        <th>Advantages</th>
        <th>Disadvantages</th>
        <th>Click on image to enlarge</th>
      </tr>

      <tr>
        <th>Induced Draft<br>(crossflow)</th>
        <td>
          <ul>
            <li>Air enters horizontally and water falls vertically through the fill media</li>
          </ul>
        </td>
        <td>
          <ul>
            Hot water basin can be gravity flow<br>
            Hot water line need not be pressurized, resulting in low pumping head and operational cost<br>
            Less noise and easy maintenance compared to counterflow
          </ul>
        </td>
        <td>
          <ul>
            <li>Larger tower footprint</li>
            <li>Large inlet surface makes icing control difficult and sometimes leads to uneven air distribution through the infill</li>
          </ul>
        </td>
        <td>
          <a href="assets/images/tower_induced_counter.png">
            <img src="assets/images/tower_induced_counter.png" alt="Enlarge diagram of an induced draft crossflow cooling tower. Hot water flows in and fills tank. Fan above pulls out heat and cool air goes in the bottom and cold water flows out.">
          </a>
        </td>
      </tr>

      <tr>
        <th>Induced Draft <br> (counterflow)</th>
        <td>
          <ul>
            <li>Air flows vertically upwards, opposite to the direction of the water, which falls downwards</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Smaller tower footprint</li>
            <li>Efficient air/water contact through droplets formed by spraying</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Cannot use gravity flow for hot water distribution basin</li>
            <li>Hot water line needs to be pressurized thus increasing operational cost and noise compared to crossflow</li>
          </ul>
        </td>
        <td>
          <a href="assets/images/tower_induced_double.png">
            <img src="assets/images/tower_induced_double.png" alt="Enlarge diagram of a induced draft counterflow cooling tower. Hot water comes in through top sides, louvers let in airflow, heat from water rises up through fan. Cold water sump goes through the bottom.">
          </a>
        </td>
      </tr>

      <tr>
        <th>Forced Draft</th>
        <td>
          <ul>
            <li>Air is pushed into the cooling tower by a fan located at the base</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Efficient operation</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Water distribution and recirculation challenges</li>
          </ul>
        </td>
        <td>
          <a href="assets/images/tower_forced.png">
            <img src="assets/images/tower_forced.png" alt="Enlarge diagram of a forced draft cooling tower. Hot water is piped into the tank from the top and fills the basin. The heat rises out. Below the basin cold water flows through with a fan on the backside of the flow." width="100%">
          </a>
        </td>
      </tr>

      <tr>
        <th>Natural Convection</th>
        <td>
          <ul>
            <li>Air is heated by the warm water flowing over the fill. The warm air rises up through convection, pulling in colder air from outside.</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Low energy consumption because there is no fan</li>
            <li>Less noise</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Significantly larger in size compared to induced or forced draft cooling towers</li>
          </ul>
        </td>
        <td>
          <a href="assets/images/towers_industrial.png">
            <img src="assets/images/towers_industrial.png" alt="Enlarge diagram of a natural convection cooling towers. One version shows the drift eliminators, distribution system, and fill off to the side and a beaker shaped tower. The other shows the drift eliminators, distribution system, and fill within the beaker shaped tower. Both have cool water at the base of the tower.">
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h3>Sources</h3>
<ul>
  <li><a href="https://www.watco-group.co/images/pdf/Counterflow%20vs%20crossflow%20cooling%20towers.pdf">Cross Flow or Counter Flow Cooling Tower</a>, Watco International</li>
  <li><a href="https://spxcooling.com/library/cooling-tower-performance-basic-theory-and-practice/">Cooling Tower Performance</a>, SPX Cooling Technologies, Inc.</li>
  <li><a href="https://spxcooling.com/cooling-towers/marley-nc/">Marley induced-draft crossflow cooling tower</a>, by SPX cooling</li>
</ul>

<h2>Performance Ratings</h2>

<p>Cooling tower commissioning is done according to the standard published by ASME (PTC-23) or Cooling Technology Institute (CTI-ATC 105). The test parameters include allowable range for flow rate, heat load, fan power, wet bulb temperature, dry bulb temperature, wind velocity, barometric pressure, oil substances, total dissolved solids, etc. For additional information about thermal performance testing, refer to the <a href="https://spxcooling.com/library/thermal-performance-testing-information/">Thermal Performance Testing</a> article on the SPX Cooling Technologies, Inc. website.</p>

<p>In critical projects, on-site commissioning of open and closed circuit cooling towers is done to ensure integration of individual components into the system level sequence of operation. Another important reason to do field commissioning is to ensure the unit meets the required capacity.</p>

<h2>Energy Efficiency Measures</h2>
<div class="col-md-6 float-md-left mr-md-5 my-3">
  <blockquote>"Reducing cooling tower fan speed to 80% of design reduces fan power by 50% while raising cooling tower leaving water temperature only by 3&deg;F (1.7 &deg;C)."</blockquote>
  <p class="caption">Saving Energy with Cooling Towers, ASHRAE article, Frank Morrison, ASHRAE Journal, February 2014</p>
</div>

<ul>
  <li>Operating cooling towers with smaller approach; year-round operating systems reap maximum benefit.</li>
  <li>Install variable frequency drive on cooling tower fan. In mild climates, the chiller operates at part load for a major portion of the year.</li>
  <li>Allow condenser water temperatures to drop below traditional 85&deg;F chiller return water temperature to improve chiller efficiency. Review total system energy use to determine efficient balance of chiller energy, cooling tower fan energy, and pumping energy.</li>
  <li>Consider using cooling tower for "free" water-side economizing if chilled water is needed year-round. Cooling tower can provide cold water to a heat exchanger to directly cool chilled water without running compressors.</li>
</ul>

<p>Consider a larger cooling tower to achieve a smaller approach and minimize fan energy. For example, the figure below shows ton/hp variation for different cooling tower sizes across capacities ranging between 100–550 tons (size of point and color correspond to different sizes). The dotted box shows multiple cooling tower size options to meet a load of 230 tons. The efficiency varies from as low as 22 ton/hp to as high as 80 ton/hp. A payback analysis should be done to select an efficient cooling tower by taking into account factors associated with increased size such as space availability, increase in operating weight, and the corresponding increase in structural costs.</p>

<img class="img-fluid" src="assets/images/Cooling_tower_efficiency.png" alt="Variation of Ton/hp with size at different capacities charted in scatterplot. The dotted box shows multiple cooling tower size options to meet a load of 230 tons. The efficiency varies from as low as 22 Ton/hp to as high as 80 Ton/hp.">
<p class="caption">
  <strong>Variation of ton/hp with size at different capacities</strong> Data Source: <a href="https://spxcooling.com/">SPX Cooling</a>
</p>

<h2>Free Cooling With Cooling Towers</h2>
<p>Cooling tower water can provide water at low enough temperatures during the winter, fall, and spring seasons to turn off the chiller. The cooling requirement in winter is typically less than the requirement in summer except for applications in which constant cooling is required year-round. Data centers are the best application for free cooling. Free cooling can also be used in other applications once the winter cooling loads are determined and the tower is sized appropriately. Some parameters to consider when designing the cooling tower for free cooling are wind speed, ambient temperature, and presence of sufficient cooling requirement in winter. Although some icing on the cooling tower is typical at below-freezing temperatures, excess icing that can cause damage to the cooling tower should be avoided.</p>


<h3>Water Efficiency Measures</h3>

<h4>Submetering</h4>

<p>Submetering make-up and blowdown water lines helps estimate whether the appropriate amount of water is being used to do the required task.</p>

<h4>Increase Cycles of Concentration</h4>

<p>Alternative water treatment methods can be very effective at saving water and minimizing or eliminating water treatment chemicals. See recent case studies of four technologies that with proven performance:</p>
<ul>
  <li><a href="https://www.nrel.gov/docs/fy19osti/73911.pdf">Testing and Evaluation of a Chemical-Free Cooling Tower Water Treatment Technology</a></li>
  <li><a href="https://www.gsa.gov/system/files/Applied_Research/038-GPG%20Findings%20Electrochemical%20Water%20Treatment.pdf">Electrochemical water treatment</a></li>
  <li><a href="https://docs.nrel.gov/docs/fy19osti/72152.pdf">Electrochemical water treatment for Cooling Towers</a></li>
  <li><a href="https://www.gsa.gov/system/files/039-GPG-Findings_AWT-_Advanced_Oxidation_Process_for_Cooling_Towers.pdf">Advanced Oxidation Process for Cooling Towers</a></li>
  <li><a href="https://www.gsa.gov/system/files/040-GPG_Findings_AWT-_Salt-Based_and_Chemical_Inhibition_.pdf">Salt-Based and Chemical Inhibition for Cooling Towers</a></li>
</ul>

<p>Cooling towers typically operate at a blowdown of two to three cycles. This can be increased to up to six or more cycles, depending on water quality, presence of automation, and constant monitoring. For additional information on how to maximize cycles of concentration, refer to page 6-13 in the U.S. Environmental Protection Agency's <a href="https://www.epa.gov/sites/default/files/2017-02/documents/watersense-at-work_final_508c3.pdf">WaterSense at Work</a> and page 42 in the <a href="https://www.gwinnettcounty.com/static/departments/DWR/pdf/NCWaterEfficiencyManual.pdf#page=43">Water Efficiency Manual for Commercial, Industrial, and Institutional Facilities</a> from the North Carolina Department of Environment and Natural Resources.</p>

<div class="col-md-6 float-md-left mr-md-5 my-3">
  <blockquote>"Increasing the [cycles of concentration] from two to six can reduce make-up water consumption by 40%."</blockquote>
  <p class="caption"><a href="https://www.gwinnettcounty.com/static/departments/DWR/pdf/NCWaterEfficiencyManual.pdf#page=43">Water Efficiency Manual for Commercial, Industrial, and Institutional Facilities</a></p>
</div>

<h4>Water Quality</h4>
<p>Monitor water quality in the cooling tower periodically. Cleansing the cooling tower basin and installing filters on the side stream taken from the cooling tower basin are examples of recommended measures. Poor water quality can lead to bacterial growths such as Legionella that are serious health concerns. Controlling sunlight exposure inside the tower surface can significantly reduce biological growth.</p>

<p>To read more about methods for improving water quality, refer to page 6-14 in <a href="https://www.epa.gov/sites/default/files/2017-02/documents/watersense-at-work_final_508c3.pdf">WaterSense at Work</a>. If there are no recommendations from the manufacturer regarding water quality, refer to Table 12.1: Cooling Water Quality in <a href="https://www.wiley.com/legacy/wileychi/morvayindustrial/supp/toolbox12.pdf#page=5">Applied Industrial Energy and Environmental Management</a>, published by John Wiley & Sons.</p>

<p>For more information about operations and maintenance as well as retrofit options, consult the <a href="https://www.energy.gov/femp/best-management-practice-10-cooling-tower-management">Best Management Practice #10: Cooling Tower Management</a> from the Federal Energy Management Program.</p>

<h3>Design Guide</h3>
<p>The first step is determining the type of cooling tower for the given site and application. Once this is locked down, calculate the condenser water flow rate to ensure the cooling tower meets the required capacity. This is done by taking into account the wet-bulb temperature, air velocity, and height of the cooling tower. A general rule of thumb is 3 gpm of recirculating flow per ton of cooling at 10°F delta-T. Evaporation is estimated at 1.8 gallons/hour per ton of cooling. Follow-up calculations to estimate make-up volume, cycles of concentration, and blowdown volume can be found in this article on water use in cooling towers. A few additional cooling tower design specifications include:</p>
<ul>
  <li>Frame and casing</li>
  <li>Fill material</li>
  <li>Fill depth</li>
  <li>Nozzles</li>
  <li>Fans</li>
</ul>

<p>For further information on tower materials refer to the <a href="https://www.klmtechgroup.com/PDF/EDG-SYS/ENGINEERING-DESIGN-GUIDELINES-cooling-towers-Rev2.2web.pdf">Cooling Tower Selection and Sizing</a> document from KLM Technology Group.</p>

<p>Cooling tower capacity can be increased without enlarging the physical size by implementing strategies such as installing an efficient spray distribution system and decreasing water temperature. Installing a larger fan motor and increasing fill media are some other strategies to increase cooling tower capacity. For more details, refer to <a href="https://www.wiley.com/legacy/wileychi/morvayindustrial/supp/toolbox12.pdf">Toolbox 12 Cooling Towers</a> from John Wiley & Sons.</p>

<h2>Calculators and Tools</h2>

<ul>
  <li>The <a href="https://trsinc.us/resources/cooling-tower-calculator">Cooling Tower Calculator</a>, from TRS Incorporated estimates make-up/bleed pipe sizing, peak evaporation, peak bleed, peak water flow rate, range, approach, and drift rate.</li>
  <li><a href="https://deltacooling.com/resources/faqs/selecting-sizing">Tower Sizing Program</a>, from Delta Cooling Towers, Inc.</li>
</ul>

<h2>Operation and Training</h2>
<p class="lead">Effective cooling tower operation is achieved by paying close attention to the manufacturer's safety and operational guidelines. Safety considerations include providing safe access and fall protection during inspection and maintenance, locking out fan motor and condenser pumps during inspection, protecting workers from biological growth, and avoiding re-entry of discharge air.</p>

<p>Cooling tower operational considerations include:</p>
<ul>
  <li>Clearing debris from basin</li>
  <li>Filling basin to required water level with make-up water valve</li>
  <li>Balancing water flow to ensure maximum wetness of fill surface area</li>
  <li>Chemical treatment during startup and operation</li>
  <li>Checking fan to ensure it is rotating in the proper direction</li>
  <li>Setting appropriate blowdown rate</li>
  <li>Installing and monitoring conductivity controllers to ensure correct blowdown rate</li>
  <li>Keeping log of quantities of make-up and blowdown water to help identify leaks and unaccounted draw-offs.</li>
</ul>

<p>For additional information about each of the above-mentioned safety and operational considerations, refer to <a href="https://spxcooling.com/library/trouble-free-hvac-cooling-towers-a-maintenance-guide/">Trouble-Free HVAC Cooling Towers—A Maintenance Guide</a> by SPX Cooling Technologies, Inc. and <a href="https://www.energy.gov/femp/best-management-practice-10-cooling-tower-management">Best Management Practice #10: Cooling Tower Management</a> from the Federal Energy Management Program.</p>

<p>A periodic energy audit is a helpful tool to assess cooling tower performance. For detailed steps such as identifying the boundary for evaluation, site inspection, equipment energy measurement, calculation, and analysis, refer to <a href="https://www.wiley.com/legacy/wileychi/morvayindustrial/supp/toolbox12.pdf">Toolbox 12: Cooling Towers</a>, from John Wiley & Sons.</p>

<h2>Procurement and Performance Specifications</h2>
<p><a href="https://www.emsd.gov.hk/filemanager/en/content_2/Prfrm_spcfctn-OnM_Clg_Twrs.pdf">Sample Specification for Procurement of Operation and Maintenance Services for Fresh Water Cooling Towers</a> by the Government of Hong Kong Electrical and Mechanical Services Department.</p>

<h2>Case Studies</h2>
<p><a href="https://www.energy.gov/sites/prod/files/2013/10/f3/epa-scesd_watercs.pdf">Air Handler Condensate Recovery at the Environmental Protection Agency's Science and Ecosystem Support Division</a>, Best Management Practice Case Study #14: Alternate Water Sources, Federal Energy Management Program.<br>
  An air handler condensate recovery system was installed to capture condensate, which was routed to cooling tower as make-up water. The system saved 540,000 gallons of water in 8 months.</p>

<p><a href="https://www.energy.gov/sites/prod/files/2013/10/f3/nasa-msfc_watercs2_.pdf">NASA Marshal Space Flight Center Improves Cooling System Performance</a>, Best Management Practice Case Study #10: Cooling Towers, Federal Energy Management Program<br>
  Heat exchangers were cleaned to eliminate scaling and bio-fouling, which allowed for an increase in cycles of concentration from 2.5 to 5.7. This maintenance measure resulted in water savings of 821,300 gallons ($5,650) and electricity savings of 434,900 kWh ($27,399) in 8 months.</p>

<p>U.S. General Services Administration tested four <a href="https://www.gsa.gov/system/files/AWT%20for%20Cooling%20Towers%20GSA%20Guidance_26Jul2024.pdf">alternative water treatment systems</a> and realized an average 26% water savings and 50% reduction in cooling tower cleaning all with 2-3 year paybacks. View the <a href="https://www.youtube.com/watch?v=q6bMidb6_0E">GSA Webinar on alternative water treatment for cooling towers</a>.</p>

<h2>Resources</h2>
<ul>
  <li><a href="https://www1.eere.energy.gov/femp/pdfs/waterfs_coolingtowers.pdf">Cooling Towers: Understanding Key Components of Cooling Towers and How to Improve Water Efficiency</a></li>
  <li><a href="https://spxcooling.com/library/cooling-tower-fundamentals/">Cooling Tower Fundamentals</a>, SPX Cooling Technologies, Inc.</li>
  <li><a href="https://www.canada.ca/en/environment-climate-change/services/national-pollutant-release-inventory/report/sector-specific-tools-calculate-emissions/wet-cooling-tower-particulate-guide.html">Wet Cooling Tower Guidance For Particulate Matter</a>, Environment and Climate Change Canada</li>
  <li><a href="https://www3.epa.gov/ttnchie1/ap42/ch13/final/c13s04.pdf">Wet Cooling Towers</a>, U.S. Environmental Protection Agency, AP 42, Chapter 13: Miscellaneous Sources, section 13.4</li>
  <li><a href="https://www.klmtechgroup.com/PDF/EDG-SYS/ENGINEERING-DESIGN-GUIDELINES-cooling-towers-Rev2.2web.pdf">Cooling Tower Selection and Sizing (Engineering Design Guidelines)</a>, KLM Technology Group</li>
  <li><a href="https://www.energy.gov/femp/best-management-practice-10-cooling-tower-management">Best Management Practice #10: Cooling Tower Management,</a> from Federal Energy Management Program</li>
  <li><a href="https://p2sinc.com/staff/article/open-cooling-tower-design-considerations">Open Cooling Tower Design Considerations,</a> Kent Peterson, ASHRAE Journal, February 2016</li>
  <li><a href="https://www1.eere.energy.gov/femp/pdfs/waterfs_coolingtowers.pdf">Understanding Key Components of Cooling Towers and How to Improve Water Efficiency,</a> Federal Energy Management Program fact sheet with additional information sources on cooling tower systems, operations, and maintenance</li>
  <li><a href="https://www.researchgate.net/publication/283597158_Saving_Energy_With_Cooling_Towers">Saving Energy with Cooling Towers</a>, Frank Morrison, ASHRAE Journal, February 2014</li>
  <li><a href="https://ashraephilly.org/images/downloads/CTTC_Articles/1705_cttc.pdf">Cold Weather Operation of Cooling Towers</a>, Paul Londahl, ASHRAE Journal, March 2014</li>
  <li><a href="https://www.energystar.gov/products/data_center_equipment/16-more-ways-cut-energy-waste-data-center/consider-water-side">Water-Side Economizer</a>, ENERGY STAR<sup>&#174;</sup></li>
  <li><a href="https://baltimoreaircoil.com/download_api_endpoint/1198/j50_tr_freecooling_20150914.pdf">Minimizing energy costs with free cooling</a>, Baltimore Aircoil Company, Inc.</li>
  <li><a href="https://spxcooling.com/library/application-of-cooling-towers-for-free-cooling/">Application of Cooling Towers for Free Cooling</a>, SPX Cooling Technologies, Inc.</li>
  <li><a href="https://store.accuristech.com/standards/because-temperature-matters-maintaining-cooling-towers?product_id=1712650">Because Temperature Matters: Maintaining Cooling Towers</a>, by Glenn Babcock, ASHRAE Journal, March 2005.</li>
  <li><a href="https://www.deq.nc.gov/watereducation/water-efficiency-business-2/download#page=40">Water Efficiency Manual for Commercial, Industrial, and Institutional Facilities</a>, North Carolina Department of Environment and Natural Resources, page 39, Cooling Towers</li>
  <li><a href="https://www.epa.gov/sites/default/files/2017-02/documents/watersense-at-work_final_508c3.pdf#page=198">WaterSense at Work</a>, U.S. Environmental Protection Agency, page 6.3, Cooling Towers</li>
  <li><a href="https://www.allianceforwaterefficiency.org/">Alliance for Water Efficiency</a></li>

</ul>
