<h1>{{ title }}</h1>

<p>Cooling towers are heat rejection devices used to cool and condense the hot refrigerant gas from commercial HVAC chiller compressors. Cooling towers use evaporative cooling to provide cooling approaching the ambient wet-bulb temperature instead of the ambient dry-bulb temperature, which improves chiller performance. Cooling tower performance is determined by a balance of energy and water consumption of the cooling tower and the chilled water plant. Proper water maintenance is important for optimal performance.</p>

<img class="img-fluid rounded" src="assets/images/NREL_CT.jpg" alt="Photograph of a cooling tower for a central plant">
<p class="caption">
  <strong>Central plant cooling tower</strong> Photo by Dennis Schroeder/NREL 38443
</p>

<p>Some terms commonly used in the industry when dealing with cooling towers are provided in the list below. For a more comprehensive list, refer to
  <a href="https://www.klmtechgroup.com/PDF/EDG-SYS/ENGINEERING-DESIGN-GUIDELINES-cooling-towers-Rev2.2web.pdf">Cooling Tower Selection and Sizing (Engineering Design Guideline)</a> and
  <a href="https://www.canada.ca/en/environment-climate-change/services/national-pollutant-release-inventory/report/sector-specific-tools-calculate-emissions/wet-cooling-tower-particulate-guide.html">Wet Cooling Tower Guidance for Particulate Matter</a>.
</p>

<h2>Commonly Used Terms</h2>
<dl>
  <dt>Drift</dt>
  <dd>Water lost to the atmosphere due to misting</dd>

  <dt>Make-up water</dt>
  <dd>Supplementary water added into the system to account for losses due to drift, evaporation, blowdown, and leakage</dd>

  <dt>Total dissolved solids (TDS)</dt>
  <dd>Sum total of organic and inorganic material dissolved in the cooling water. Generally measured in ppmw or mg/L</dd>

  <dt>Blowdown/bleed</dt>
  <dd>Water released from the recirculating water system in order to reduce the concentration of dissolved solids</dd>

  <dt>Drift Eliminators</dt>
  <dd>Baffled device through which the air has to pass before leaving the cooling tower so that the water entrained in the air is collected</dd>

  <dt>Approach</dt>
  <dd>Difference between leaving cold water temperature and the ambient air wet-bulb temperature or entering water wet-bulb temperature</dd>

  <dt>Cycle of concentration (C.O.C)</dt>
  <dd>Ratio of the concentration of total dissolved solids (TDS) or conductivity in the blowdown water to the make-up water. COC can also be estimated by the ratio of the makeup water volume and the blowdown water volume</dd>
</dl>

<p class="pl-5">
  <code>
    COC = (TDS of blowdown) / (TDS of makeup water)<br>
    COC = (conductivity of blowdown) / (conductivity of makeup water)<br>
    COC = (makeup water) / (conductivity of makeup water)
  </code>
</p>

<h2>Resources</h2>
<ul>
  <li><a href="https://www1.eere.energy.gov/femp/pdfs/waterfs_coolingtowers.pdf">Cooling Towers: Understanding Key Components of Cooling Towers and How to Improve Water Efficiency</a></li>
  <li><a href="https://spxcooling.com/library/cooling-tower-fundamentals/">Cooling Tower Fundamentals</a>, SPX Cooling Technologies, Inc.</li>
  <li><a href="https://www.canada.ca/en/environment-climate-change/services/national-pollutant-release-inventory/report/sector-specific-tools-calculate-emissions/wet-cooling-tower-particulate-guide.html">Wet Cooling Tower Guidance For Particulate Matter</a>, Environment and Climate Change Canada</li>
  <li><a href="https://www3.epa.gov/ttnchie1/ap42/ch13/final/c13s04.pdf">Wet Cooling Towers</a>, U.S. Environmental Protection Agency, AP 42, Chapter 13: Miscellaneous Sources, section 13.4</li>
  <li><a href="https://www.klmtechgroup.com/PDF/EDG-SYS/ENGINEERING-DESIGN-GUIDELINES-cooling-towers-Rev2.2web.pdf">Cooling Tower Selection and Sizing (Engineering Design Guidelines)</a>, KLM Technology Group</li>
  <li><a href="https://www.energy.gov/eere/femp/best-management-practice-10-cooling-tower-management">Best Management Practice #10: Cooling Tower Management,</a> from Federal Energy Management Program</li>
  <li><a href="https://www.p2sinc.com/staff/article/open-cooling-tower-design-considerations">Open Cooling Tower Design Considerations,</a> Kent Peterson, ASHRAE Journal, February 2016</li>
  <li><a href="https://www1.eere.energy.gov/femp/pdfs/waterfs_coolingtowers.pdf">Understanding Key Components of Cooling Towers and How to Improve Water Efficiency,</a> Federal Energy Management Program fact sheet with additional information sources on cooling tower systems, operations, and maintenance</li>
</ul>
