<h1>{{ title }}</h1>

<p>The piping network is one of the important and expensive components in a centralized district cold/hot water or steam distribution system. These pipes are generally buried underground and need to supply the working fluid to the individual buildings at the appropriate pressure and temperature. Pipe failures can critically affect the building operation at the facility. Pipe materials commonly used for chilled and hot water applications are shown in the table below:</p>

<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Pipe Material</th>
        <th>Service</th>
      </tr>
      <tr>
        <td>Carbon steel</td>
        <td>CHW, HHW</td>
      </tr>
      <tr>
        <td>Type K copper</td>
        <td>CHW, HHW</td>
      </tr>
      <tr>
        <td>Ductile iron</td>
        <td>CHW, HHW</td>
      </tr>
      <tr>
        <td>PVC</td>
        <td>CHW</td>
      </tr>
      <tr>
        <td>HDPE</td>
        <td>CHW</td>
      </tr>
    </tbody>
  </table>
</div>

<ul>
  <li>CHW – chilled water</li>
  <li>HHW - heating hot water</li>
</ul>

<p><a href="https://www.pumpsandsystems.com/what-primary-secondary-pumping">Primary-secondary pumping</a> is a common fluid (water/glycol) distribution piping design found in commercial buildings. The two fluid circuits are coupled by a small length of common pipe, yet fluid can be pumped through their respective loops at different flow rates.</p>

<p>The primary pump and circulation loop circulates fluid into and around the chiller or boiler where the fluid is heated or cooled. Hot or cold fluid from the primary loop can be drawn through the common pipe by the secondary loop pumps. Fluid in the secondary loop is circulated to one or more air handling unit (AHU) heating or cooling coils. Since the two fluid circuits can operate at different flows, the primary loop is designed to satisfy the flows required by the boiler or chillers while the secondary loop flows operate independently to meet space the conditioning loads at the AHUs.</p>

<p>As the fluid is heated or cooled in the circulation loop, thermal expansion of the water/glycol occurs. To accommodate the fluid's volumetric change in a rigidly piped system, an <a href="https://tayloreng.egnyte.com/dl/mfpo1R0rfG/ASHRAE_Journal_-_The_Fundamentals_of_Expansion_Tanks.pdf_">expansion tank</a> is added. These simple passive devices, commonly misunderstood on how they impact the system pressures as the pump circulates the fluid in the loops, need to be properly sized and located.</p>

<h2>Performance Ratings</h2>
<p>The ASME B31 piping code applies to different piping installations. The owner is responsible for selecting and applying the appropriate B31 section. Refer to the <a href="https://cstools.asme.org/csconnect/Filedownload.cfm?thisfile=22855.pdf&dir=CommitteeFiles&44315.7809375">Selecting Applicable B31 Piping Code Section</a> document for detailed guidance.</p>
<p>Some key sections include:</p>
<ul>
  <li>B31.1-Power generating plants and industrial facility</li>
  <li>B31.5-Refrigeration piping</li>
  <li>B31.9-Building services piping.</li>
</ul>

<p>B31 code specifications include:</p>
<ul>
  <li>Welding</li>
  <li>Brazing</li>
  <li>Heat treating</li>
  <li>Assembly of flanged and threaded connections</li>
  <li>Branch connection design</li>
  <li>Visual examination</li>
  <li>Nondestructive examination</li>
  <li>Pressure testing.</li>
</ul>

<p>Other piping codes include:</p>
<ul>
  <li>NFPA Fire Protection Standards</li>
  <li>NFPA 99 Health Care Facilities</li>
  <li>NFPA 85 Boiler and Combustion Systems Hazards</li>
  <li>Building and Plumbing codes.</li>
</ul>

<h2>Energy Efficiency Measures</h2>
<p>Lack of accurate design data on pipes often leads to installation of oversized pumps and valves. There are tools available that help estimate the pressure drop by taking into account losses due to fittings, bends, and pipe length. Careful sizing of the piping system is therefore important to improve the overall efficiency of the water system. Piping layout should minimize 90o bends. Refer to this <a href="https://www.hpac.com/piping-pumping/article/20926306/specifying-piping-systems">‘Specifying Piping Systems'</a> article for more details.</p>

<ul>
  <li><a href="https://www.buildings.com/smart-buildings/article/10189598/proper-insulation-of-chilled-water-pipe-systems">Proper Insulation of Chilled Water Pipe Systems</a>, C. Curtland</li>
  <li><a href="https://www.copper.org/publications/pub_list/pdf/copper_tube_handbook.pdf">Copper Tube Handbook</a>, Copper Development Association Inc.</li>
</ul>

<h2>Design Calculators and Tools</h2>
<ul>
  <li><a href="https://www.tlv.com/global/TI/calculator/water-pipe-sizing-velocity.html">TLV Calculator</a></li>
  <li><a href="https://calculator.uponor.com/">Uponor Pipe Sizing Calculator</a></li>
  <li><a href="https://www.pipeflowcalculations.com/flowrate/calculator.xhtml">Pipe Diameter Calculator</a></li>
</ul>

<h2>Operation and Training</h2>
<p>Critical piping system failures can be prevented by inspecting and repairing damaged pipe insulation. Pipe maintenance should be included in the facility's preventive maintenance program.</p>

<ul>
  <li><a href="https://www.energy.gov/femp/best-management-practice-3-distribution-system-audits-leak-detection-and-repair">Distribution System Audits, Leak Detection, and Repair</a>, Federal Energy Management Program</li>
</ul>

<h2>Procurement and Performance Specifications</h2>
<p><a href="https://www.mcaa.org/ncpwb/home/ncpwb-technical-resources/">NCPWB Technical Resources</a></p>

<h2>Resources</h2>
<ul>
  <li>This <a href="https://youtu.be/1TXPgaOioxs">video by the National Certified Pipe Welding Bureau</a> explains the benefits of ASME B31 code</li>

  <li><a href="https://studylib.net/doc/18571689/underground-piping-systems">Underground Piping Systems</a>, Kent Peterson, ASHRAE Journal, 2014 </li>
  <li><a href="https://theengineeringmindset.com/primary-secondary-circuits-centralised-hvac-systems/">Primary-Secondary Circuits in Central HVAC Systems</a>, by Engineering Mindset</li>
  <li><a href="https://www.airah.org.au/Content_Files/EcoLibrium/2018/12-18-Eco-technical-paper.pdf">Air Separation in Hydronic Systems</a></li>
  <li><a href="https://www.tacocomfort.com/wp-content/uploads/2019/08/TD11_air-elim-hyd-systems_2015.pdf">Air Elimination from Hydronic Systems</a>, by Taco Comfort Solutions</li>
</ul>
