<h1>{{ title }}</h1>

<p>Testing standards are important for valves, mainly to understand leakage for a given valve type. Leakage allowances are more critical in the petroleum industry but are also important for central plants. A few standards for valve leakage testing are given below.</p>

<h2>American National Standards Institute (ANSI) Fluid Controls Institute (FCI) Standard 70-2: Control Valve Seat Leakage</h2>
<ul>
  <li>Defines a range of six leakage classes for control valves and their testing procedures</li>
  <li>Outlines leakage rate in ml/min and bubbles/min for a range of nominal port diameters</li>
  <li>Most commonly used standard for hot/cold valve applications.</li>
</ul>
<p>Source: <a href="https://www.techstreet.com/standards/fci-70-2-2013?product_id=1851249">ANSI/FCI 70-2-2013 standard</a></p>

<h2>International Organization for Standardization (ISO) Standard 5208: Industrial Valves—Pressure testing of metallic valves</h2>
<ul>
  <li>Outlines different pressure tests and class types for valve types such as globe, plug, check, diaphragm, and butterfly.</li>
  <li>Leakage rate specified in mm3/sec and drops/sec for different rate types.</li>
</ul>
<p>Source: <a href="https://webstore.ansi.org/Standards/ISO/ISO52082015?gclid=EAIaIQobChMIsuSc7umm8AIVSgaICR14ugGxEAAYASAAEgKcUvD_BwE">ISO 5208: 2008/2015 Standard</a></p>

<h2>American Petroleum Institute (API) Standard 598: Valve inspection and testing</h2>
<ul>
  <li>No visible leakage permitted</li>
  <li>Allowable leakage table for liquids and gases depending on valve size</li>
</ul>
<p>Source: <a href="https://www.api.org/products-and-services/standards">API Standard 598</a></p>

<h2>Manufacturers Standardization Society (MSS) Standard MSS-SP-61: Pressure Testing of Valves</h2>
<ul>
  <li>Designed mainly for fully open/closed valves, not control valves</li>
  <li>Leakage rate specified in cc/hr for different nominal pipe diameters.</li>
</ul>
<p>Source: <a href="https://www.techstreet.com/mss/standards/mss-sp-61-2013?product_id=1859972">MSS SP-61-2013</a></p>
