<h1>{{ title }}</h1>

<h2>Valve Sizing Considerations</h2>
<p>The <a href="https://tayloreng.egnyte.com/dl/ui3Jf0FuWy/EDR_Design_Guidelines_CoolTools_Chilled_Water.pdf_">Chilled Water Plant Design Guide</a> has a detailed section on valve selection criteria. Rules of thumb play a significant role in valve design. One example of a rule of thumb is that if a valve is sized to operate between 60% and 80% open at maximum flow and not less than 20% open at minimum flow, it yields the best flow control result (Source: <a href="https://www.valin.com/resources/blog/rules-thumb-techniques-and-considerations-properly-sizing-control-valves">Valin</a>).</p>

<p>Few important valve sizing considerations from the <a href="https://tayloreng.egnyte.com/dl/ui3Jf0FuWy/EDR_Design_Guidelines_CoolTools_Chilled_Water.pdf_#page=128">Chilled Water Plant Design Guide</a> are listed below. Refer to section 5, pages 14–17 for more details.</p>

<ul>
  <li>Determine <strong>valve pressure drop</strong> such that it is a significant portion of the overall system pressure drop. Oversized valves will cause large flow variations with small change in valve position, while an undersized valve will introduce a large pressure drop.</li>
  <li>Select valve based on pressure drop and <strong>valve flow coefficient (Cv)</strong>.</li>
  <li>Estimate number of <strong>actuation cycles</strong> each valve is likely to be subjected to in a year. </li>
  <li>Clearly specify <strong>operational environment</strong> and performance requirements of each valve.</li>
  <li>Check for <strong>close-off pressure capability</strong>, especially for gate valves.</li>
  <li>Wherever possible, purchase <strong>control valve and actuator as one unit.</strong></li>
</ul>

<h2>Valve Insulation</h2>
<p>Prevention of heat loss through valves is important on steam, hot water, and cold water lines. Valves are also insulated as a safety measure on steam lines. Refer to the U.S. Department of Energy Tip Sheet #17: <a href="https://www1.eere.energy.gov/manufacturing/tech_assistance/pdfs/steam17_valves_fittings.pdf">Installing Removable Insulation on Valves and Fittings</a>. The document includes a table that gives energy savings in Btu/hr for different valve sizes across operating temperatures ranging from 200°–600°F.</p>

<h4>Resources</h4>
<ul>
  <li><a href="https://www.documentation.emersonprocess.com/intradoc-cgi/groups/public/documents/reference/d351798x012_11.pdf">Valve Sizing Calculation (Traditional Method)</a></li>
</ul>
