<h1>{{ title }}</h1>

<p>Heat pumps do not generate heat, rather they move heat in the direction opposite of how it would naturally flow&mdash;they move thermal energy from a low temperature area to a high temperature area. In cooling mode a heat pump extracts thermal energy from a lower indoor temperature source and moves it to a higher outdoor temperature sink, and in heating mode it does the opposite and extracts heat from a low outdoor temperature source and transfers it to a higher indoor temperature sink. In buildings, heat pumps are used for space heating and cooling as well as water heating and cooling. A reversing valve changes the direction of the refrigerant flow in a heat pump so that the heat exchangers of the source and the sink (evaporator and condenser) can be switched depending on where the temperatures are warmer or colder.</p>
<p>There are various types and applications of heat pumps that can be used in commercial buildings.</p>
<img src="assets/images/ashp-68596.jpg" alt="Enlarge photo of air-source heat pump outside of building. Photo by 	Molly Rettig, NREL 68596.">

<div class="table-responsive mt-5 mb-1">

<h2> Heat Pump Categories </h2>
 <table class="table table-striped">
  <tbody>
    <tr>
      <th style="background-color: #dddddd;">
       Air-Source Heat Pump (ASHP) 
      </th>
    </tr>
    <tr>
      <td>
        <a href="assets/images/air-to-air-cooling-heating.jpg">
        <img src="assets/images/air-to-air-cooling-heating.jpg" alt="Enlarge photo of air-source heat pump outside of building. Illustration by Marjorie Schott, NREL." style="max-height:600px; max-width:800px"></a>
      </td>
    </tr>
    <tr style="background-color: #E4F1F9;">
      <th style="background-color: #E4F1F9;">Types</th>
    </tr>
    <tr>
      <td>
        <ul>
          <li><strong>Air-to-Air Heat Pump:</strong> Heat is exchanged between the outside and inside air.</li>
          <li><strong>Air-to-Water (ATW) Heat Pump:</strong> Heat is exchanged between outdoor air and indoor water, such as domestic hot water or hydronic space heating or cooling.</li>
        </ul>
      </td>
    </tr>
    <tr style="background-color: #E4F1F9;">
      <th style="background-color: #E4F1F9;">Equipment Types and Descriptions</th>
    </tr>
    <tr>
      <td>
        <ul>
          <li><strong>Heat Pump Rooftop Unit (RTU):</strong> Provides heating, cooling, and ventilation from a central location to a designated zone.</li>
            <li><strong>Central Split System:</strong> The heating/cooling coil is in the air handling unit, which is separate from the outdoor unit; refrigerant lines run between the indoor and outdoor units. The conditioned air is routed to the conditioned space via ducts.</li>
            <li><strong>Mini-Split Heat Pump or Ductless Heat Pump:</strong> The heating/cooling coil is in the air handling unit, which is separate from the outdoor unit. The conditioned air is blown directly from the air handler to the conditioned space; there are no ducts.</li>
            <li><strong>Variable Refrigerant Flow (VRF; sometimes also referred to as Variable Refrigerant Volume, VRV):</strong> Split system with multiple indoor units and the ability to adjust the refrigerant flow to different zones.
          </li>
          <li><strong>Packaged Terminal Heat Pump (PTHP):</strong> Single packaged system located in a specific building zone and installed through the building envelope.</li>
          <li><strong>Air-to-Water Heat Pump (ATW):</strong> Factory-sealed refrigerant circuit in outdoor unit with integrated secondary loop heat exchanger; water or water/glycol mix are used as a working fluid to distribute hot/cold to end uses in the building.</li>
        </ul>
      </td>
    </tr>
    <tr style="background-color: #E4F1F9;">
      <th style="background-color: #E4F1F9;">Equipment Applications</th>
    </tr>
    <tr>
      <td>
       <ul>
        <li><strong>RTU:</strong> Commercial settings, such as big box retail stores, warehouses, strip malls, and restaurants.</li>
        <li><strong>Central Split System:</strong> Small commercial (&#60;5 tons); some overlap with residential systems; additions, retrofits, or repurposing of areas where additional comfort is required. Can be whole building conditioning systems.</li>
        <li><strong>Mini-Split Heat Pump:</strong> Small commercial systems (0.5&#8210;3 tons); some overlap with residential systems; additions, retrofits, or repurposing of areas where additional comfort is required. Typically, not for the entire building and may have multiple heads.</li>
        <li><strong>VRF:</strong> New construction and retrofits, including historic building retrofits.</li>
        <li><strong>PTHP:</strong> Hotels, &#60;2 tons. Typically, these are constant speed, although some inverter-driven models are available.</li>
        <li><strong>ATW:</strong> Large or small applications, useful with flammable/toxic refrigerants and highly distributed applications (i.e., many end-point uses). </li>
      </ul>
      </td>
    </tr>
    <tr style="background-color: #E4F1F9;">
      <th style="background-color: #E4F1F9;">Advantages</th>
    </tr>
    <tr>
      <td>
         <p><strong>Overall ASHP advantages:</strong> Lower initial cost, maximum installation flexibility, no water piping or pumping required.</p>
          <p><strong>System type advantages:</strong></p>
          <ul>
          <li><strong>RTU:</strong> Ideal for large-format, low-rise buildings (warehouses, large retail, etc.).</li>
          <li><strong>Central Split System:</strong> Common usage (skills and parts are readily available), suitable for smaller retrofits and new construction.</li>
          <li><strong>Mini-Split Heat Pump:</strong> Low installation cost, ideal for retrofits, inherent zonal control, no ducting to interface with.</li>
          <li><strong>VRF:</strong> Can be very efficient for large distributed systems, very little space required for building retrofits.</li>
          <li><strong>PTHP:</strong> Easy to install/replace, standard dimensions.</li>
          <li><strong>ATW:</strong> Lower installation costs as line sets are low-pressure water/glycol, lower refrigerant charge, factory sealed refrigerant circuit less prone to leaks.</li>
          </ul>
        </td>
      </tr>
      <tr style="background-color: #E4F1F9;">
        <th style="background-color: #E4F1F9;">Design Considerations</th>
      </tr>
      <tr>
        <td>
          <p><strong>Overall ASHP design considerations:</strong> Larger condenser size, noise, higher parasitic power, may switch to electric heat during low ambient temperature conditions and defrost cycles.</p>
          <p><strong>System type design considerations:</strong></p>
          <ul>
            <li><strong>RTU:</strong> Repair access is on the roof; installation/removal is typically with a crane.</li>
            <li><strong>Central Split System:</strong> Not ideal for larger buildings, requires an external area adjacent to the building.</li>
            <li><strong>Mini-Split Heat Pump:</strong> Not ideal for larger buildings/spaces, prone to refrigerant leaks, requires dedicated outdoor air system (DOAS) or other equipment for ventilation.</li>
            <li><strong>VRF:</strong> Complicated, capital intensive; requires DOAS or other equipment for ventilation; requires large amounts of refrigerant and can be prone to refrigerant leaks.</li>
            <li><strong>PTHP:</strong> Lower efficiency, more noise, occupies space in rooms, requires large sleeve through exterior walls.</li>
            <li><strong>ATW:</strong> Secondary loop heat exchange and pumping power for water/glycol </li>
          </ul>
        </td>
      </tr>

  </tbody>
 </table>


-------
  <table class="table table-striped">
    <tbody>
      <tr>
        <th colspan="3" style="background-color: #dddddd">
          Heat Pump Category: Air-Source Heat Pump (ASHP)   
        </th>
        <th colspan="2" style="background-color: #dddddd">
           <a href="assets/images/air-to-air-cooling-heating.jpg">
          <img src="assets/images/air-to-air-cooling-heating.jpg" alt="Enlarge photo of air-source heat pump outside of building. Illustration by Marjorie Schott, NREL."></a>
        </th>
      </tr>
      <tr style="background-color: #dddddd">
        <th>Types</th>
        <th>Equipment Types and Descriptions</th>
        <th>Equipment Applications</th>
        <th>Advantages</th>
        <th>Design Considerations</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li><em>Air-to-Air Heat Pump:</em> Heat is exchanged between the outside and inside air.
			</li>
			<li><em>Air-to-Water (ATW) Heat Pump:</em> Heat is exchanged between outdoor air and indoor water, such as domestic hot water or hydronic space heating or cooling.</li>
          </ul>
        </td>
        <td>
          <ul>
            <li><em>Heat Pump Rooftop Unit (RTU):</em> Provides heating, cooling, and ventilation from a central location to a designated zone.</li>
            <li><em>Central Split System:</em> The heating/cooling coil is in the air handling unit, which is separate from the outdoor unit; refrigerant lines run between the indoor and outdoor units. The conditioned air is routed to the conditioned space via ducts.</li>
            <li><em>Mini-Split Heat Pump or Ductless Heat Pump:</em> The heating/cooling coil is in the air handling unit, which is separate from the outdoor unit. The conditioned air is blown directly from the air handler to the conditioned space; there are no ducts.</li>
            <li><em>Variable Refrigerant Flow (VRF; sometimes also referred to as Variable Refrigerant Volume, VRV):</em> Split system with multiple indoor units and the ability to adjust the refrigerant flow to different zones.
			</li>
            <li><em>Packaged Terminal Heat Pump (PTHP):</em> Single packaged system located in a specific building zone and installed through the building envelope.</li>
            <li><em>Air-to-Water Heat Pump (ATW):</em> Factory-sealed refrigerant circuit in outdoor unit with integrated secondary loop heat exchanger; water or water/glycol mix are used as a working fluid to distribute hot/cold to end uses in the building.</li>
          </ul>
        </td>
        <td>
          <ul>
            <li><em>RTU:</em> Commercial settings, such as big box retail stores, warehouses, strip malls, and restaurants.</li>
            <li><em>Central Split System:</em> Small commercial (&#60;5 tons); some overlap with residential systems; additions, retrofits, or repurposing of areas where additional comfort is required. Can be whole building conditioning systems.</li>
            <li><em>Mini-Split Heat Pump:</em> Small commercial systems (0.5&#8210;3 tons); some overlap with residential systems; additions, retrofits, or repurposing of areas where additional comfort is required. Typically, not for the entire building and may have multiple heads.</li>
            <li><em>VRF:</em> New construction and retrofits, including historic building retrofits.</li>
            <li><em>PTHP:</em> Hotels, &#60;2 tons. Typically, these are constant speed, although some inverter-driven models are available.</li>
            <li><em>ATW:</em> Large or small applications, useful with flammable/toxic refrigerants and highly distributed applications (i.e., many end-point uses). </li>
          </ul>
        </td>
        <td>
          <p><strong>Overall ASHP advantages:</strong> Lower initial cost, maximum installation flexibility, no water piping or pumping required.</p>
          <p><strong>System type advantages:</strong></p>
          <ul>
         	<li><em>RTU:</em> Ideal for large-format, low-rise buildings (warehouses, large retail, etc.).</li>
         	<li><em>Central Split System:</em> Common usage (skills and parts are readily available), suitable for smaller retrofits and new construction.</li>
         	<li><em>Mini-Split Heat Pump:</em> Low installation cost, ideal for retrofits, inherent zonal control, no ducting to interface with.</li>
         	<li><em>VRF:</em> Can be very efficient for large distributed systems, very little space required for building retrofits.</li>
         	<li><em>PTHP:</em> Easy to install/replace, standard dimensions.</li>
         	<li><em>ATW:</em> Lower installation costs as line sets are low-pressure water/glycol, lower refrigerant charge, factory sealed refrigerant circuit less prone to leaks.</li>
          </ul>
        </td>
        <td>
          <p><strong>Overall ASHP design considerations:</strong> Larger condenser size, noise, higher parasitic power, may switch to electric heat during low ambient temperature conditions and defrost cycles.</p>
          <p><strong>System type design considerations:</strong></p>
          <ul>
          	<li><em>RTU:</em> Repair access is on the roof; installation/removal is typically with a crane.</li>
          	<li><em>Central Split System:</em> Not ideal for larger buildings, requires an external area adjacent to the building.</li>
          	<li><em>Mini-Split Heat Pump:</em> Not ideal for larger buildings/spaces, prone to refrigerant leaks, requires dedicated outdoor air system (DOAS) or other equipment for ventilation.</li>
          	<li><em>VRF:</em> Complicated, capital intensive; requires DOAS or other equipment for ventilation; requires large amounts of refrigerant and can be prone to refrigerant leaks.</li>
          	<li><em>PTHP:</em> Lower efficiency, more noise, occupies space in rooms, requires large sleeve through exterior walls.</li>
          	<li><em>ATW:</em> Secondary loop heat exchange and pumping power for water/glycol </li>
          </ul>
      </tr>
      <tr>
        <th colspan="5"style="background-color: #dddddd">
          Heat Pump Category: Water-Source Heat Pump (WSHP)    
          <a href="assets/images/wshp-heating-cooling.png">
            <img src="assets/images/wshp-heating-cooling.png" alt="Enlarge diagram a water-source heat pump showing heating and cooling differences.Illustration by Marjorie Schott, NREL">
          </a>
        </th>
      </tr>
      <tr style="background-color: #dddddd">
        <th>Types</th>
        <th>Equipment Types and Descriptions</th>
        <th>Equipment Applications</th>
        <th>Advantages</th>
        <th>Design Considerations</th>
      </tr>
      <tr>
      <tr>
        <td>
          <li><em>Water-to-Water Heat Pump</em>: Heat is exchanged between outdoor water (possibly a district loop or cooling tower) and indoor water, such as domestic hot water or hydronic space heating.</li>
         <li><em>Water-to-Air Heat Pump</em>: Heat is exchanged between outdoor water (possibly a district loop or cooling tower) and inside air.</li>
        </td>
        <td>
          <li>Both types use water to supply heat during heating mode and to reject heat during cooling mode.</li>
        </td>
        <td>
          <li>Large buildings with district heating and cooling systems: individual heat pumps operate independently based on the needs of their zone, and the primary circulating water loop serves as a heat source or sink within limited temperature ranges to ensure high efficiency of the heat pumps. The primary water loop may also have heat pumps that maintain the loop temperature when the building or district has more heating or cooling loads.</li>
        </td>
        <td>
          <li>Overall WSHP advantages: Smaller condenser volume, easier to reuse waste heat, lower parasitic power.</li>
          <li>They can recover heat and reuse it elsewhere when some zones are heating and others are cooling.</li>
          <li>Better for larger systems, campuses, or similar where additional upfront costs can be justified by operational savings.</li>
        </td>
        <td>
          <li>Overall WSHP design considerations: require water source and associated infrastructure, waste heat must be rejected from the water through additional heat exchange.</li>
          <li>Complex, resulting in high installation costs.</li>
          <li>Most efficient if the building is large enough and/or has sufficient variability in usage so some areas require frequent heating while others need cooling.</li>
          </td>
        </tr>
        <tr>
          <th colspan="5" style="background-color: #dddddd">
            Heat Pump Category: Ground-Source Heat Pump, Geothermal Heat Pump (GSHP, GHP)     
            <a href="assets/images/gshp-diagram.png">
            <img src="assets/images/gshp-diagram.png" alt="Enlarge diagram a ground-source heat pump system. Illustration by Marjorie Schott, NREL">
            </a>
          </th>
        </tr>
        <tr style="background-color: #dddddd">
          <th>Types</th>
          <th>Equipment Types and Descriptions</th>
          <th>Equipment Applications</th>
          <th>Advantages</th>
          <th>Design Considerations</th>
        </tr>
        <tr>
        <tr>
          <td>
            <li><em>Borehole</em> Ground heat exchange is through multiple boreholes in the borefield, typically 100 m deep or deeper.</li>
            <li><em>Horizontal</em>: Loops are laid out in a plane at a shallow depth (3 ft+ depending on climate) over a large area.</li>
            <li><em>Ground-to-Air Heat Pump</em>: Heat is exchanged between the ground and inside air.</li>
            <li><em>Ground-to-Water Heat Pump</em>: Heat is exchanged between the ground and indoor water, such as domestic hot water or hydronic space heating.</li>
          </td>
          <td>
            <li><em>Central</em>: “Traditional” system with one outdoor (i.e., ground) and one indoor heat exchanger.</li>
            <li><em>District</em>: Single outdoor heat exchanger field, exchanges heated or cooled liquid with a district loop.</li>
            <li><em>District (5th generation)</em>: Like more traditional district systems, but the loop temperature is near ambient with end-use heat pumps on the system providing final temperature lifts.</li>
          </td>
          <td>
            <li><em>Borehole</em>: More common in areas with limited outdoor space relative to building load. This configuration is common for commercial-scale installations.</li>
            <li><em>Horizontal</em>: More common in less densely populated areas or areas with smaller HVAC loads.</li>
            <li><em>District</em>: More common in larger installations such as on a campus with multiple buildings.</li>
          </td>
          <td>
            <em>Overall GSHP advantages</em>: 
            <li>Can operate in extreme ambient conditions, low or high.</li>
            <li>Highly efficient during extreme weather conditions.</li>
            <li>External heat exchanger is quiet and not visible/requires no usable area after installation is complete.</li>
          </td>
          <td>
            <em>Overall GSHP design considerations</em>: 
            <li>Unbalanced annual heating/cooling loads can lead to long-term performance degradation.</li>
            <li>High upfront cost.</li>
            <li>Typically, requires access to a large ground area for the heat exchanger installation.</li>
          </td>
        </tr>
        <tr>
          <th colspan="5" style="background-color: #dddddd">
            Heat Pump Category: Absorption Heat Pump (AHP)     
            <a href="assets/images/gas-absorption.jpg">
            <img src="assets/images/gas-absorption.jpg" alt="Enlarge diagram an absorption heat pump showing components. Illustration by Marjorie Schott, NREL">
            </a>
          </th>
        </tr>
        <tr style="background-color: #dddddd">
          <th>Types</th>
          <th>Equipment Types and Descriptions</th>
          <th>Equipment Applications</th>
          <th>Advantages</th>
          <th>Design Considerations</th>
        </tr>
        <tr>
        <tr>
            <td>
                <li><em>Conventional Heat Pump</em>: Heat is extracted from a high-temperature heat source and low-temperature waste heat, and converted to moderate-temperature heat 30°C to 60°C warmer than the waste heat.</li>
                <li><em>Heat Transformer Heat Pump</em>: Heat is extracted from moderate-temperature waste heat and converted to high-temperature (25°C to 50°C warmer than input heat) and low-temperature heat output.</li>
          </td>
          <td>
            <li>Absorption heat pumps use heat such as natural gas, steam, solar-heated water, waste heat, or geothermal-heated water as their energy source. They have very low electricity demand, but they are more complicated and have lower efficiencies compared to mechanical compressor-based heat pumps.</li>
          </td>
          <td>
            <li><em>Conventional Heat Pump</em>: Commonly implemented in industrial or commercial settings; suitable for large residential homes (4,000 square feet or larger).</li>
            <li><em>Heat Transformer Heat Pump</em>: Used in industrial processes and applications.</li>
        </td>
        <td>
          <em>Overall AHP advantages</em>: 
          <li>Alternative for buildings that cannot utilize electric heat pumps.</li>
          <li>Versatile heat source options.</li>
      </td>
      <td>
        <em>Overall AHP design considerations</em>: 
        <li>Alternative for buildings that cannot utilize electric heat pumps.</li>
        <li>Versatile heat source options.</li>
    </td>
        </tr>
    </tbody>
    </table>
    </div>

    <h2>Best Practices for Heat Pump Energy Efficiency</h2>
    <p>To keep a heat pump performing properly it&apos;s important to follow best practices at every stage of its life cycle: prior to purchase, during installation/commissioning, and throughout ongoing operation/maintenance.</p>
    
    <h2>Prior to Purchase</h2>
    <p>There are many resources to help guide purchasing decisions. <a href="https://www.nrel.gov/docs/fy24osti/87812.pdf">How-To Guide for Heat Pump Systems</a> and Beyond provides a comprehensive look at choosing, installing, and maintaining various thermal systems, including heat pumps.<a href="https://neep.org/sites/default/files/resources/ASHP_buyingguide_5.pdf">NEEP</a> also has an air-source heat pump buying guide. The focus is on residential systems, but some of the subcomponents and concepts are similar for small commercial applications. In general, there are two key best practices to consider at this stage:</p>
    <ul>
      <li><b>System efficiency and performance</b> are among the most important factors, especially when lowering operating costs is a priority. The purchase is the only opportunity to choose a more efficient system. Variable speed systems are typically more efficient as reflected in the rated metrics. They can be drop-in replacements for older, single, or dual-speed systems and are frequently a compelling option when looking for equipment with the lowest life-cycle cost.</li>
       <ul>
        <li>Units that just meet <a href="https://www.energy.gov/femp/articles/minimum-efficiency-requirements-tables-heating-and-cooling-product-categories#:~:text=b%20Energy%20Efficiency%20Ratio%20(EER,in%20Btu%2FWatt%2Dhour">Federal minimum heating efficiency requirements</a> are the lowest performance options. For many situations, minimum efficiency units will provide little or no reduction in operating costs, however, when replacing very old units even these may be a substantial improvement in efficiency.</li>
       <li><a href="https://www.energystar.gov/products/heat_pump_water_heaters/key-product-criteria">ENERGY STAR&#174; </a>lists key metrics for higher efficiency units for a variety of systems; specifically, HSPF (heating), SEER2 (cooling), and EER2 (cooling) and COP. This is most applicable to small commercial and residential systems.</li>
       <li><a href="https://www.energystar.gov/products/light_comm_heating_cooling/light_commercial_hvac_key_product_criteria">ENERGY STAR </a>also lists light commercial products and required ratings, which include IEER (cooling) as well as SEER and EER metrics in addition to those listed above.</li>
       <li><a href="https://cee1.org/program-resources">Consortium for Energy Efficiency</a> provides tiers of performance beyond ENERGY STAR for higher levels of performance. Utilities often use these performance tiers for incentive programs to help offset the potentially higher costs.</li>
      </ul>
      <li><b>System sizing</b> is an important consideration. This is often overlooked, as matching the capacity of the existing system is seen as a safe decision. However, oversizing units is common<sup>1,2</sup> and can lead to unnecessarily higher operating costs as well as reduced lifetimes./li>
        <ul>
          <li>A <a href="https://www.acca.org/standards/technical-manuals/manual-n">Manual N</a> load calculation performed by a professional is the best approach to understand the required system capacity.</li>
          <li>Variable speed or variable refrigerant flow (VRF) systems are somewhat more tolerant to oversizing, but they don&#39;t solve the problem, and the upfront costs will be higher. If the system capacity changes, it is important to understand the impacts on the remainder of the system. For example, make sure that air-distribution ducts (consult ASHRAE Standard 120) or hydronic piping (consult ASHRAE 90.1, Table 6.5.4.6) can handle new flow rates.</li>
        </ul>
    </ul>
    <h2>Installation and Commissioning</h2>
    <p>After purchasing, systems must be installed correctly, which requires commissioning. This may seem obvious, but it can be more complicated than it sounds, particularly if you are not replacing like-for-like systems. There are resources available to guide building owners and operators through this process. It is commonly led by the installation team; but having a working knowledge of the steps and best practices will be useful in ensuring this is completed correctly.</p>
    <ul>
      <li>The <a href="https://www.energy.gov/eere/buildings/hvac-commissioning">Department of Energy</a> provides resources that create a good starting point, including case studies that highlight the benefits of proper commissioning. There are also links to additional resources.</li>
      <ul>
        <li>The EPA&#39;s Tools for Schools provides a <a href="https://www.epa.gov/iaq-schools/ventilation-checklist-indoor-air-quality-tools-schools">checklist</a> for facility managers or other staff to systematically assess ventilation equipment performance and identify deficiencies. </li>
        <li>PNNL&#39;s <a href="https://buildingretuning.pnnl.gov">Building Re-tuning</a> is an approach to detect energy savings opportunities and implement low-cost changes for buildings with and without building automation systems. Online training materials and publications are available to guide schools and other building types to improve both energy performance and occupant comfort. </li>
        <li>The UC Davis Western Cooling Efficiency Center&#39;s <a href="https://wcec.ucdavis.edu/wp-content/uploads/TAB-Technical-Report-051220.pdf">Testing, Adjusting and Balancing HVAC Systems: An Overview of Certification Agencies</a> describes the benefits of using a certified contractor to verify, test, and adjust HVAC systems to make sure that equipment are functioning properly. </li>
      </ul>
      <li><a href="https://www.ashrae.org/technical-resources/bookstore/commissioning">ASHRAE</a> provides several commissioning-related publications ranging from high-level guides to detailed standards for practitioners. </li>
      <li>Reputable installers will often advertise their commissioning services. </li>
      <li>Comissioning services may be combined with maintenance contracts, helping ensure that commissioning agents are accountable for quality work</li>
      <li>Facilities staff should be engaged so the installers and commissioning agents can transfer required knowledge for operations.</li>
    </ul>

    <h2>Operation and Maintenance</h2>
    <p>HVAC systems require ongoing maintenance for proper operation and longevity. Best practices that guide operation and maintenance include:</p>
    <Ul>
      <li><b>A maintenance contract</b> that ensures regular service by qualified professionals and reduces overhead and burden on staff.</li>
      <li><b>Routine maintenance</b> of commercial building HVAC systems as described by <a href="https://ashrae.org/File Library/Technical Resources/Bookstore/previews_2016639_pre.pdf">ASHRAE 180-2018</a>. This is important when choosing a maintenance contractor or when undertaking routine maintenance with in-house staff.</li>
      <li><b>Preventative maintenance</b> for commercial HVAC equipment. <a href="https://betterbuildingssolutioncenter.energy.gov/solutions-at-a-glance/preventative-maintenance-commercial-hvac-equipment">Better Buildings</a> has a guide that provides a good overview and links to other resources for more detailed information.</li>
      <ul>
        <li>The most common maintenance items are filter and coil cleanings as well as checking the refrigerant charge.</li>
        <li>Distribution systems may also be checked for leaks or loose connections (more common with ducts than with piping), which can have energy and comfort impacts. </li>
      </ul>
    </Ul>
<hr>
    <h2>Air-Source Heat Pumps</h2>
    <h3>Case Studies</h3>
    <p>Installation of a Heat Pump Rooftop Unit (RTU) at a Motorcycle Sales Shop: <a href="https://wcec.ucdavis.edu/wp-content/uploads/2015/09/Field-Evaluation-of-the-Daikin-Rebel-at-Harley-Davidson.pdf">https://wcec.ucdavis.edu/wp-content/uploads/2015/09/Field-Evaluation-of-the-Daikin-Rebel-at-Harley-Davidson.pdf</a></p>
    <uL><li>&#34;The system averaged around EER <sub>SENS</sub> = 17.5 for operation below 50&percnt; capacity and reached as high as EER <sub>SENS</sub> = 40 for some periods.&#34;</li></uL>
    <p>Installation of a Cold Climate Air-Source Heat Pump (CCHP) at a Low-Rise Office Building: <a href="https://apps.dtic.mil/sti/trecms/pdf/AD1154507.pdf">https://apps.dtic.mil/sti/trecms/pdf/AD1154507.pdf</a></p>
    <uL><li>&#34;The CCHP demonstration achieved &#62;40% annual combined space heating and cooling energy savings, in ASHRAE climate zone 6A, while meeting the current pricing of state-of-the-art mid-tier heat pumps.&#34;</li></uL>

   <h3>Heat Pump Procurement and Performance</h3>
   <h4>General</h4>
   <p>This page helps building owners understand the key aspects of heat pump equipment and create requests for proposals (RFP) for equipment with specific features and efficiencies while managing the project budget. The RFP format can be used to select and hire an engineering firm to prepare design documents for the specified air-source heat pump systems.</p>
   <h4>Questions To Ask During the Equipment Evaluation and Selection Process:</h4>
   <ul>
    <li><b>Is this a new installation or a replacement?</b></li>
    <ul><li>The level of effort for designing and installing higher efficiency equipment in a new building can be lower than for a replacement installation. </li></ul>
    <li><b>If a replacement, does the current system use electric cooling and gas heating?</b></li>
    <ul><li>If so, a heat pump might work slightly differently, which may require additional design considerations for system sizing, electrical capacity, and installation.</li></ul>
    <li><b>Why do you want to replace the system?</b></li>
    <ul>
      <li>If the current system is near the end of its expected life, that is often the most cost-effective time to consider a more efficient system. The marginal cost for purchasing a more efficient system is often only a modest increase over that of a minimum efficiency system. </li>
      <li>If the current system has a major failure and is older, the cost of that repair may not be worth it. A full replacement may have a lower lifetime cost, with a higher efficiency replacement having a further reduction in lifetime cost, albeit with greater upfront cost.</li>
    </ul>
    <li><b>What is the climate?</b></li>
    <ul>
      <li>Check heat pump performance for efficiency and capacity for the heating design conditions. Newer, high-performance systems have improved performance in cold conditions. </li>
      <li>In extreme cold climates, a dual-fuel heat pump could be attractive. These units operate as heat pumps when appropriate and utilize gas to maintain supply temperatures in extreme cold weather.</li>
    </ul>
    <li><b>Is your application suitable for a single central heat pump or multiple modular units?</b></li>
    <ul>
      <li>Are there significant differences in the heating/cooling load throughout the building? If so, modular systems may be appropriate because a larger centralized system may not operate as efficiently at low load. Modular systems may increase upfront cost but allow for efficient conditioning with drastically different loads in different zones of the building. Work with the designer/vendor to get a price comparison between these configurations.</li>
    </ul>
    <li><b>What incentives are available in your region to improve the efficiency of HVAC systems?</b></li>
    <ul>
      <li>Some utilities and federal/state/local governments offer financial incentives to encourage heat pumps over gas heating/air-conditioning systems; they may also offer incentives for higher efficiency heat pumps over simpler systems. These incentives can help to offset the additional purchase cost of high-efficiency equipment. </li>
    </ul>
    <li><b>Have heating and cooling load calculations been performed?</b></li>
    <ul>
      <li>Oversized heat pumps are a concern for space-conditioning systems. Although redundancy and future expansion must be considered, an oversized heat pump designed based on "rules of thumb" can lead to short-cycling, which results in a loss of efficiency and poor temperature and humidity control. By requiring load calculations in your RFP you will ensure that systems are properly sized for the application.</li>
    </ul>
    <li><b>Is redundancy desirable in heating/cooling systems?</b></li>
    <ul>
      <li>Due to potential damage from system downtime, consider a system with redundant components. This may lead to higher initial costs, but redundant systems may allow for continued building operation if one of the systems is offline due to maintenance.</li>
    </ul>
    <li><b>Is the distribution system checked as part of a heat pump installation/replacement?</b></li>
    <ul>
      <li>The distribution system should be considered in the design of a new or replacement project as it can have a major impact on system performance, operating cost, and longevity. An undersized distribution system can result in higher fan power and reduced service life, as well as poor temperature control in the areas to be served. The supply temperature of the heat pumps may be different than the existing system, and the distribution system should be checked to make sure the system can properly meet the heating and cooling loads.</li>
    </ul>
    <li><b>Does the manufacturer or supplier provide training for the operation and maintenance of the system?</b></li>
    <ul>
      <li>Building operators/facility management staff need to understand the various functions of the equipment and how to operate them. If this important part of the training is neglected, the expected energy savings may not be achieved because the system may not work as intended. Ongoing maintenance is another important step to ensure that the system works as intended.</li>
    </ul>
   </ul>

   <h3>Sample RFP Language</h3>
   <p>Upgrading HVAC systems can be a major undertaking; a clear RFP is a key element to ensure proper work and avoid delays or additional costs. See the <a href="https://betterbuildingssolutioncenter.energy.gov/sites/default/files/attachments/rtu_spec.pdf">sample specification for high-performance rooftop units</a> for an example of the features and wording you can include in your RFP.</p>

   <h3>Efficiency Requirements</h3>
   <p>The efficiency of heat pump systems varies between equipment types (e.g., variable refrigerant flow vs. rooftop unit) and within an equipment type. Resources that can help determine desired efficiency levels include <a href="https://cee1.org">Consortium for Energy Efficiency</a>, <a href="https://www.energystar.gov/products/light_comm_heating_cooling/light_commercial_hvac_key_product_criteria">ENERGY STAR</a> and the <a href="https://www.energy.gov/eere/buildings/standards-and-test-procedures#current_standards">U.S. Department of Energy</a>. If state, local, or utility incentives are part of the project, they usually specify the efficiency requirements to be met.</p>
   <h4>References</h4>
   <p>Toolkit: Upgrade Your RTU to High Efficiency: <a href="https://betterbuildingssolutioncenter.energy.gov/toolkit-upgrade-your-rtu-high-efficiency">https://betterbuildingssolutioncenter.energy.gov/toolkit-upgrade-your-rtu-high-efficiency</a></p>  
<hr>
    <h2>Resources</h2>
    <ul>
      <li>AHRI, Certified Heat Pumps: <a href="https://www.ahrinet.org/certification/ahri-certification-programs?f[0]=product_type%3A1981&f[1]=product_type%3A1986">https://www.ahrinet.org/certification/ahri-certification-programs?f[0]=product_type%3A1981&f[1]=product_type%3A1986</a></li>
      <li>Building America Solution Center, Ground-Source Heat Pumps: <a href="https://basc.pnnl.gov/resource-guides/ground-source-heat-pumps">https://basc.pnnl.gov/resource-guides/ground-source-heat-pumps</a></li>
      <li>Building Energy Exchange, Packaged Terminal Heat Pumps: <a href="https://be-exchange.org/wp-content/uploads/2019/05/HPRT_techprimer_PTHPs.pdf">https://be-exchange.org/wp-content/uploads/2019/05/HPRT_techprimer_PTHPs.pdf</a></li>
      <li>ENERGY STAR, Air-Source Heat Pumps: <a href="https://www.energystar.gov/products/air_source_heat_pumps">https://www.energystar.gov/products/air_source_heat_pumps</a></li>
      <li>NREL, Geothermal Heat Pump Basics: <a href="https://www.nrel.gov/research/re-geo-heat-pumps.html">https://www.nrel.gov/research/re-geo-heat-pumps.html</a></li>
      <li>NREL, Policymakers&apos; Guidebook for Geothermal Heating and Cooling: <a href="https://www.nrel.gov/docs/fy11osti/49477.pdf">https://www.nrel.gov/docs/fy11osti/49477.pdf</a></li>
      <li>ORNL, Generic Guide Specifications for Geothermal Heat Pump System Installation: <a href="https://info.ornl.gov/sites/publications/Files/Pub57541.pdf">https://info.ornl.gov/sites/publications/Files/Pub57541.pdf</a></li>
      <li>Taitem Engineering for NYSERDA, High-Performance Packaged Terminal Heat Pump Market and Development Research Report: <a href="https://www.nyserda.ny.gov/-/media/Project/Nyserda/Files/Publications/Research/Other-Technical-Reports/18-27-PTHP-Market-Development.pdf">https://www.nyserda.ny.gov/-/media/Project/Nyserda/Files/Publications/Research/Other-Technical-Reports/18-27-PTHP-Market-Development.pdf</a></li>
      <li>U.S. Department of Energy, Energy Saver, Air-Source Heat Pumps: <a href="https://www.energy.gov/energysaver/air-source-heat-pumps ">https://www.energy.gov/energysaver/air-source-heat-pumps </a></li>
      <li>U.S. Department of Energy, Energy Saver, Heat Pump Systems: <a href="https://www.energy.gov/energysaver/heat-pump-systems">https://www.energy.gov/energysaver/heat-pump-systems</a></li>
      <li>U.S. Department of Energy, Guide to Geothermal Heat Pumps: <a href="https://www.energy.gov/sites/prod/files/guide_to_geothermal_heat_pumps.pdf">https://www.energy.gov/sites/prod/files/guide_to_geothermal_heat_pumps.pdf</a></li>
      <li>U.S. Department of Energy, Commercial Building Heat Pump Accelerator: <a href="https://betterbuildingssolutioncenter.energy.gov/accelerators/commercial-building-heat-pump ">https://betterbuildingssolutioncenter.energy.gov/accelerators/commercial-building-heat-pump </a></li>
    </ul>


    <h3>Footnotes</h3>
    <ol>
    <li id="footnote">Woradechjumroen, Denchai, Yuebin Yu, Haorong Li, Daihong Yu, and Huojun Yang. "Analysis of HVAC system oversizing in commercial buildings through field measurements."<i>Energy and Buildings</i> 69 (2014): 131-143.</li>
    <li id="footnote">Djunaedy, Ery, Kevin Van den Wymelenberg, Brad Acker, and Harshana Thimmana. "Oversizing of HVAC system: Signatures and penalties."<i>Energy and Buildings</i> 43, no. 2-3 (2011): 468-475</li>
    </ol>
