<h1>{{ title }}</h1>

<p>Heat pumps do not generate heat, rather they move heat in the direction opposite of how it would naturally flow – they move thermal energy from a low temperature area to a high temperature area. In cooling mode a heat pump extracts thermal energy from a lower indoor temperature source and moves it to a higher outdoor temperature sink, and in heating mode it does the opposite and extracts heat from a low outdoor temperature source and transfers it to a higher indoor temperature sink. In buildings, heat pumps are used for space heating and cooling as well as water heating and cooling. A reversing valve changes the direction of the refrigerant flow in a heat pump so that the heat exchangers of the source and the sink (evaporator and condenser) can be switched depending on where the temperatures are warmer or colder.</p>
<p>There are various types and applications of heat pumps that can be used in commercial buildings.</p>

<div class="table-responsive mt-5 mb-1">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Heat Pump Category</th>
        <th>Types</th>
        <th>Equipment Types and Descriptions</th>
        <th>Equipment Applications</th>
        <th>Advantages</th>
        <th>Design Considerations</th>
      </tr>

      <tr>
        <th>
        	Air-Source Heat Pump (ASHP) 
        	<a href="assets/images/tower_induced_counter.png">
            <img src="assets/images/tower_induced_counter.png" alt="Enlarge diagram of an induced draft crossflow cooling tower. Hot water flows in and fills tank. Fan above pulls out heat and cool air goes in the bottom and cold water flows out.">
          </a>
        </th>
        <td>
          <ul>
            <li><em>Air-to-Air Heat Pump:</em> Heat is exchanged between the outside and inside air.
			</li>
			<li><em>Air-to-Water (ATW) Heat Pump:</em> Heat is exchanged between outdoor air and indoor water, such as domestic hot water or hydronic space heating or cooling.</li>
          </ul>
        </td>
        <td>
          <ul>
            <li><em>Heat Pump Rooftop Unit (RTU):</em> Provides heating, cooling, and ventilation from a central location to a designated zone.</li>
            <li><em>Central Split System:</em> The heating/cooling coil is in the air handling unit, which is separate from the outdoor unit; refrigerant lines run between the indoor and outdoor units. The conditioned air is routed to the conditioned space via ducts.</li>
            <li><em>Mini-Split Heat Pump or Ductless Heat Pump:</em> The heating/cooling coil is in the air handling unit, which is separate from the outdoor unit. The conditioned air is blown directly from the air handler to the conditioned space; there are no ducts.</li>
            <li><em>Variable Refrigerant Flow (VRF; sometimes also referred to as Variable Refrigerant Volume, VRV):</em> Split system with multiple indoor units and the ability to adjust the refrigerant flow to different zones.
			</li>
            <li><em>Packaged Terminal Heat Pump (PTHP):</em> Single packaged system located in a specific building zone and installed through the building envelope.</li>
            <li><em>Air-to-Water Heat Pump (ATW):</em> Factory-sealed refrigerant circuit in outdoor unit with integrated secondary loop heat exchanger; water or water/glycol mix are used as a working fluid to distribute hot/cold to end uses in the building.</li>
          </ul>
        </td>
        <td>
          <ul>
            <li><em>RTU:</em> Commercial settings, such as big box retail stores, warehouses, strip malls, and restaurants.</li>
            <li><em>Central Split System:</em> Small commercial (<5 tons); some overlap with residential systems; additions, retrofits, or repurposing of areas where additional comfort is required. Can be whole building conditioning systems.</li>
            <li><em>Mini-Split Heat Pump:</em> Small commercial systems (0.5–3 tons); some overlap with residential systems; additions, retrofits, or repurposing of areas where additional comfort is required. Typically, not for the entire building and may have multiple heads.</li>
            <li><em>VRF:</em> New construction and retrofits, including historic building retrofits.</li>
            <li><em>PTHP:</em> Hotels, <2 tons. Typically, these are constant speed, although some inverter-driven models are available.</li>
            <li><em>ATW:</em> Large or small applications, useful with flammable/toxic refrigerants and highly distributed applications (i.e., many end-point uses). </li>
          </ul>
        </td>
        <td>
          <p><strong>Overall ASHP advantages:</strong> Lower initial cost, maximum installation flexibility, no water piping or pumping required.</p>
          <p><strong>System type advantages:</strong></p>
          <ul>
         	<li><em>RTU:</em> Ideal for large-format, low-rise buildings (warehouses, large retail, etc.).</li>
         	<li><em>Central Split System:</em> Common usage (skills and parts are readily available), suitable for smaller retrofits and new construction.</li>
         	<li><em>Mini-Split Heat Pump:</em> Low installation cost, ideal for retrofits, inherent zonal control, no ducting to interface with.</li>
         	<li><em>VRF:</em> Can be very efficient for large distributed systems, very little space required for building retrofits.</li>
         	<li><em>PTHP:</em> Easy to install/replace, standard dimensions.</li>
         	<li><em>ATW:</em> Lower installation costs as line sets are low-pressure water/glycol, lower refrigerant charge, factory sealed refrigerant circuit less prone to leaks.</li>
          </ul>
        </td>
        <td>
          <p><strong>Overall ASHP design considerations:</strong> Larger condenser size, noise, higher parasitic power, may switch to electric heat during low ambient temperature conditions and defrost cycles.</p>
          <p><strong>System type design considerations:</strong></p>
          <ul>
          	<li><em>RTU:</em> Repair access is on the roof; installation/removal is typically with a crane.</li>
          	<li><em>Central Split System:</em> Not ideal for larger buildings, requires an external area adjacent to the building.</li>
          	<li><em>Mini-Split Heat Pump:</em> Not ideal for larger buildings/spaces, prone to refrigerant leaks, requires dedicated outdoor air system (DOAS) or other equipment for ventilation.</li>
          	<li><em>VRF:</em> Complicated, capital intensive; requires DOAS or other equipment for ventilation; requires large amounts of refrigerant and can be prone to refrigerant leaks.</li>
          	<li><em>PTHP:</em> Lower efficiency, more noise, occupies space in rooms, requires large sleeve through exterior walls.</li>
          	<li><em>ATW:</em> Secondary loop heat exchange and pumping power for water/glycol </li>
          </ul>
      </tr>