<h1>{{ title }}</h1>

<p><a href="https://www.energy.gov/sites/prod/files/2013/10/f3/epa-scesd_watercs.pdf">Air Handler Condensate Recovery at the Environmental Protection Agency's Science and Ecosystem Support Division</a>, Best Management Practice Case Study #14: Alternate Water Sources, Federal Energy Management Program.<br>
  An air handler condensate recovery system was installed to capture condensate, which was routed to cooling tower as make-up water. The system saved 540,000 gallons of water in 8 months.</p>

<p><a href="https://www.energy.gov/sites/prod/files/2013/10/f3/nasa-msfc_watercs2_.pdf">NASA Marshal Space Flight Center Improves Cooling System Performance</a>, Best Management Practice Case Study #10: Cooling Towers, Federal Energy Management Program<br>
  Heat exchangers were cleaned to eliminate scaling and bio-fouling, which allowed for an increase in cycles of concentration from 2.5 to 5.7. This maintenance measure resulted in water savings of 821,300 gallons ($5,650) and electricity savings of 434,900 kWh ($27,399) in 8 months.</p>

<p>U.S. General Services Administration tested four <a href="https://www.gsa.gov/governmentwide-initiatives/climate-action-and-sustainability/center-for-emerging-building-technologies/published-findings/water/awt-gsa-guidance-for-cooling-towers">alternative water treatment systems</a> and realized an average 26% water savings and 50% reduction in cooling tower cleaning all with 2-3 year paybacks.</p>
