<h1>{{ title }}</h1>

<p class="lead">HVAC air and water distribution systems are used to provide thermal comfort and indoor air quality in buildings.
  The air distribution contains equipment such air handling units, ducting, diffusers, and other associated components.
  Water distribution systems include piping, steam traps, and valves.</p>

<img class="img-fluid rounded" src="assets/images/NREL_central_plant.jpg" alt="Photo of central plant with green pipes and pumps">
<p class="caption">
  <strong>Central plant</strong> Photo by Dennis Schroeder/NREL 38444
</p>
