<div id="content" class="container">
  <div class="row">
    <div class="col-md-9 order-md-last">
      <h1>No Top Navigation</h1>
      <p class="lead">This example shows an application page without top navigation.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p><a routerLink="/">Back to application template home page</a>.</p>
    </div>
    <!-- Site left navigation -->
    <div class="col-md-3 order-md-first hidden-print">
      <nav class="sidenav">
        <ul class="nav flex-column">
          <li class="nav-item"><a routerLink="." fragment="" class="nav-link">Link</a>
          </li>
          <li class="nav-item"><a routerLink="." fragment="" class="nav-link">Link</a>
            <ul class="nav flex-column"><!-- add .hide class to close nav -->
              <li class="nav-item"><a routerLink="." fragment="" class="nav-link">2nd level link</a>
                <ul class="nav flex-column"><!-- add .hide class to close nav -->
                  <li class="nav-item"><a routerLink="." fragment="" class="nav-link">3rd level link</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
