<h1>{{ title }}</h1>

<p>Lack of accurate design data on pipes often leads to installation of oversized pumps and valves. There are tools available that help estimate the pressure drop by taking into account losses due to fittings, bends, and pipe length. Careful sizing of the piping system is therefore important to improve the overall efficiency of the water system. Piping layout should minimize 90o bends. Refer to this <a href="https://www.hpac.com/piping-pumping/article/20926306/specifying-piping-systems">‘Specifying Piping Systems'</a> article for more details.</p>

<h2>Resources</h2>
<ul>
  <li><a href="https://www.buildings.com/smarter-buildings/article/10189598/proper-insulation-of-chilled-water-pipe-systems">Proper Insulation of Chilled Water Pipe Systems</a>, C. Curtland</li>
  <li><a href="https://www.copper.org/publications/pub_list/pdf/copper_tube_handbook.pdf">Copper Tube Handbook</a>, Copper Development Association Inc.</li>
</ul>
