<h1>{{ title }}</h1>

<p class="lead">Central plants are the heart of the HVAC systems in large buildings or complexes of buildings. This section provides information on boilers, chillers, cooling towers, energy storage, pumps, water treatment systems, valves, pipes, sensors, and controls.</p>

<p>Typically, central plants supply systems with cooling loads in excess of 50 tons. The added components in these systems increase the complexity of operations and require a higher level of operator knowledge and control oversight than stand-alone HVAC systems.</p>

<img class="img-fluid rounded" src="assets/images/NREL_central_plant.jpg" alt="Photo of central plant with green pipes and pumps">
<p class="caption">
  <strong>Central plant</strong> Photo by Dennis Schroeder/NLR 38444
</p>
