body, html {
  overflow-x: hidden;
}

#content {
  margin-top: .5em
}

header .logo {
  background-position: center center
}

@media (min-width: 768px) {
  #content {
    margin-top: 1em
  }

  header .logo {
    background-position: center right
  }

  .navbar-wrapper .container.app {
    border-top: none
  }
}

header a.app-name, header a.app-name:hover, header a.app-name:visited {
  color: #4B545A;
  display: block;
  font-family: Roboto;
  font-size: 1.5rem;
  line-height: 1.2em;
  /*margin: 0 0 .3em;*/
  text-align: center;
  text-decoration: none
}

header .app-subtitle {
  font-family: Roboto;
  color: #494949;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  header a.app-name, header a.app-name:hover, header a.app-name:visited {
    font-size: 1.85rem;
    margin-top: 28px;
    text-align: left
  }
}

/* Interior page header */
header .logo.interior {
  /* make it whatever it is on the main page */
  /*height: 65px;
  background-size: contain; */
}

#interior.program-header .navbar-light .navbar-nav > li > a {
  padding: 5px 15px;
}

@media (min-width: 768px) {
  .banner-logo {
    min-height: 75px;
  }
}

/* Search */
.site-searchbar-toggle {
  border: 1px solid #5e6a71;
  border-radius: 5px;
  color: #5e6a71;
  margin: 15px;
  padding: 8px 6px 8px 6px;
  position: absolute;
  right: 0;
  top: 0;
}

.site-searchbar-toggle.int {
  margin: 0;
}

.site-navbar-toggler {
  display: inline-block;
}

.application .navbar-light .site-navbar-toggler,
.program-header .navbar-light .side-navbar-toggler {
  border: none;
}

.site-navbar-toggler {
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
}

.site-search-bar {
  margin: 0;
}

.site-searchbar-form {
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: transparent;
}

.site-searchbar-form .form-control {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
  box-shadow: none;
  height: 40px;
}

@media (max-width: 350px) {
  .site-searchbar-form .form-control {
    width: 160px;
  }
}

.site-searchbar-form .form-group {
  margin-bottom: 0;
}

#searchbar-collapse-mobile button {
  background-color: #D1D5D8;
  border-color: #D1D5D8;
  color: #333;
  line-height: 1.7;
}

@media (min-width: 576px) {
  #searchbar-collapse-mobile button {
    margin-left: 3px;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .site-searchbar-toggle {
    position: relative;
  }

  .site-searchbar-form {
    float: right;
  }

  .site-search-bar {
    background-color: #e3e3e3;
  }
}

.disclaimer {
  padding: 0px 20px;
}

.hvac-header {
  font-family: Roboto Condensed Bold, sans-serif;
  font-weight: bold !important;
  font-size: 18px;
  color: #fff;
  padding: 10px;
  min-height: 5rem;
  text-align: center;
}

.hvac-all {
  background-color: #626d73 !important;
}

.hvac-cool {
  background-color: #0e79bf !important;
}

.hvac-cool-heat {
  background-color: #7da442 !important;
}

.hvac-heat {
  background-color: #a33022 !important;
}

.hvac-title {
  background-color: #eeeeee;
  padding: 10px;
  align-content: center;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.icon-div {
  align-content: center;
  background-color: #eeeeee;
}

.hvac-icon {
  width: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 25%;
  align-content: center;
  margin: auto;
}

.hvac-section {
  margin: auto;

}
.hvac-section a,
.hvac-section a:hover {
  text-decoration: none;
  color: #000;
}

.big-pad {
  padding-top: 18px;
  padding-bottom: 15px;
}

.no-r-pad {
  padding-right: 0px;
}

.small-pad {
  padding-top: 5px;
  padding-bottom: 5px;
}

.hvac-row a, .hvac-row a:hover {
  text-decoration: none;
  color: #000;
}

.hvac-header a, .hvac-header a:hover {
  text-decoration: none;
  color: #FFF;
}

.hvac-grid-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 10px;
  justify-items: stretch;
}

.hvac-grid-item {
  height: 100%;
  overflow: auto;
  align-self: center;
  align-content: center;
  background-color: #eeeeee;
}

.item-span2 {
  grid-row: span 2;
}

.item-span3 {
  grid-row: span 3;
}

.grayed {
  background-color: #ddd !important;
  opacity: .5 !important;
}

.grayed-2 {
  background-color: #ddd !important;
  opacity: .1 !important;
}

.footer-icon {
  width: 1em !important;
  height: 1em !important;
  vertical-align: -0.125em;

}

.link-decorated {
  text-decoration: underline;
}