<h1>{{ title }}</h1>

<p>Thermal energy storage is a method of storing heating or cooling thermal energy by running equipment at off-peak hours. Ice, water, and phase change material are some commonly used storage media. Hot storage systems are most suitable for applications in which:</p>

<ul>
  <li>Peak total heating load of the facility is significantly higher than the average load</li>
  <li>Utility's electric rate structure has high demand charges, ratchet charges, or a significant difference between on-peak and off-peak rates</li>
  <li>Facility is considering expanding heating capacity </li>
  <li>An existing storage tank is available</li>
  <li>Redundancy in heating systems is needed to make up for short-term heating requirement.</li>
</ul>

<p>Refer to <a href="https://betterbuildingssolutioncenter.energy.gov/sites/default/files/attachments/Thermal_Energy_Storage_Fact_Sheet_0.pdf">Thermal Energy Storage Overview</a> from the U.S. Department of Energy's Office of Energy Efficiency and Renewable Energy.</p>
