<h1>{{ title }}</h1>

<p>Laboratories present unique requirements for both high-volume and low-velocity supply air to provide a safe working environment for occupants. To achieve this high ventilation effectiveness, special considerations in selecting, locating, and sizing supply air equipment are required.</p>

<h2>Selection of Equipment</h2>

<p>Laminar-flow distribution systems should be used to achieve high-volume and low-velocity supply air requirements in laboratories. These include:</p>

<ul>
  <li>Perforated duct</li>
  <li>Perforated diffusers</li>
  <li>Perforated ceiling panels</li>
  <li>High-capacity radial</li>
</ul>

<h2>Location and Sizing of Equipment</h2>
<p>Diffusers should be located far from exposure control devices (ECDs) and supply air should sweep across the lab without creating excessive air currents that could compromise containments by ECDs, such as fume hoods and snorkels. The ratio of the diffuser's throw where velocity is greater than 50 fpm (0.25 m/s), T<sub>50</sub>, and characteristic length, L, unique to each diffuser type, should be taken into consideration when locating and sizing equipment. For all diffusers, a T<sub>50</sub>/L greater than 1.0 results in the throw exceeding the recommended supply air velocities.</p>

<h3>Table 1. Types of diffusers with the range of the ratios T<sub>50</sub>/L required for comfort in labs.</h3>
<p><em>(Values cited directly from Table 6-1 of the ASHRAE Laboratory Design Guide<sup>1</sup>)</em></p>

<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Type</th>
        <th>T<sub>50</sub>/L Range</th>
      </tr>
      <tr class="text-center">
        <td>Sidewall</td>
        <td>1.3 to 2.0</td>
      </tr>
      <tr class="text-center">
        <td>Ceiling (Cross Pattern)</td>
        <td>1.0 to 2.0</td>
      </tr>
      <tr class="text-center">
        <td>Ceiling (Round Pattern)</td>
        <td>0.6 to 1.2</td>
      </tr>
      <tr class="text-center">
        <td>Slot</td>
        <td>0.5 to 3.3</td>
      </tr>
    </tbody>
  </table>
</div>

<p>It is recommended that the maximum supply air velocity within the occupied space (7ft from floor) is 50% of the fume hood face velocity required to maintain containment<sup>2</sup>. Within the immediate vicinity of the hood, it is preferred that supply air velocity should be no more than 20% of required fume hood face velocity<sup>3</sup>. Examples of recommended air velocities are provided in Table 2.</p>

<h3>Table 2. Examples of recommended and preferred air velocities for given fume hood face velocities.</h3>
<p><em>(Values cited directly from Chapter 6 of the ASHRAE Laboratory Design Guide<sup>1</sup> )</em></p>

<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Fume Hood Face Velocity</th>
        <th>Recommended Supply Air Velocity</th>
        <th>Preferred Supply Air Velocity (immediate vicinity of hood)</th>
      </tr>
      <tr class="text-center">
        <td>100 fpm (0.51 m/s )</td>
        <td>50 fpm (0.25 m/s)</td>
        <td>20 fpm (0.10 m/s)</td>
      </tr>
      <tr class="text-center">
        <td>60 fpm (0.30 m/s)</td>
        <td>30 fpm (0.15 m/s)</td>
        <td>12 fpm (0.06 m/s)</td>
      </tr>
    </tbody>
  </table>
</div>

<p>The information included above references diffusers specifically, but these design considerations apply to other laminar-flow distribution systems included in the selection of equipment.</p>

<h4>Resources</h4>
<ul>
  <li>ASHRAE. 2015. <a href="https://www.ashrae.org/technical-resources/bookstore/ashrae-laboratory-design-guide-2nd-ed">"Chapter 6: Primary Air Systems." <em>ASHRAE Laboratory Design Guide.</em></a> 2nd Ed. Atlanta, Ga: American Society of Heating, Refrigerating and Air Conditioning Engineers, Inc.</li>
  <li>DiBerardinis, L.J., J.S. Baum, M.W. First, G.T. Gatwood, E. Groden, and A.K. Seth. 2013. <a href="https://www.wiley.com/en-us/Guidelines+for+Laboratory+Design%3A+Health%2C+Safety%2C+and+Environmental+Considerations%2C+4th+Edition-p-9780470505526"><em>Guidelines for Laboratory Design: Health, Safety, and Environmental Considerations</em></a>, 4th Ed. New York: John Wiley & Sons.</li>
  <li>Wunder, J.S. 2000. Personal communication from operating experiences with laboratory equipment. University of Wisconsin – Madison.</li>
</ul>
