@import '~@fortawesome/fontawesome-free/css/all.css';
@import 'app/shared/styles/nrel.complete.css';
@import 'app/shared/styles/nrel.application.css';

@font-face {
  font-family: 'Roboto Condensed';
  src: url(assets/fonts/RobotoCondensed-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/Roboto-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(assets/fonts/Roboto-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(assets/fonts/Roboto-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url(assets/fonts/Roboto-Regular-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url(assets/fonts/Roboto-Bold-Italic.woff2) format('woff2');
}

.table td ul {
  padding-left: 18px;
}

h1 a[href]::after,
h2 a[href]::after,
h3 a[href]::after,
h4 a[href]::after,
h5 a[href]::after,
h6 a[href]::after,
a[href]::after,
.headerlink-cr::after,
.headerlink:after,
.bio p.header a[href]::after,
.fa-blue-arrow a::before,
ul.fa-check-circle li:before,
.fa-blue-arrow-text a:before,
.enlarge:before {
  font-family: 'Font Awesome 5 Free';
}

h1 a[href]::after,
h2 a[href]::after,
h3 a[href]::after,
h4 a[href]::after,
h5 a[href]::after,
h6 a[href]::after,
.headerlink-cr::after,
.headerlink:after,
.bio p.header a[href]::after {
  font-weight: 900;
}

.sidenav > ul.nav > li > a {
  text-transform: uppercase;
}

.ou-form label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

table a[href$='.png']::after {
  display: none;
}

table img {
  max-height: 100px;
  max-width: 150px;
}

a.well[href$='.pdf']::after {
  display: none;
}
