<div class="row">
  <div class="col-12">
    <h1>Looking to learn about HVAC systems?</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p class="lead lead-text no-bottom">This website offers quick access to an array of information related to commercial and laboratory HVAC system design, operations, and maintenance best practices. The resources cover central plants, distributions systems, and zone systems, with specific guidance for laboratories.</p>
  </div>
  <div class="col-md-6">
    <p class="no-bottom">This resource is designed for facility managers, operations staff, and design engineers who want to understand and improve commercial HVAC system efficiency. It provides introductions and definitions for HVAC systems and components with extensive links for additional information about technologies, energy efficiency measures, trainings, procurement, and case studies.</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card-deck my-2">
      <div class="card mt-3 mt-lg-0">
        <div class="card-header">
          <h2><a routerLink="/commercial-hvac">Commercial HVAC</a></h2>
        </div>
        <div class="d-none d-sm-block">
          <img class="img-fluid img-full-width" src="assets/images/18835_commercialbldg.jpg" alt="Commercial HVAC Stock Photo">
          <div class="card-body">
            <p class="card-text">Explore comprehensive HVAC resources for commercial systems.</p>
          </div>
        </div>
      </div>
      <div class="card mt-3 mt-lg-0">
        <div class="card-header">
          <h2><a routerLink="/laboratories">Laboratory HVAC</a></h2>
        </div>
        <div class="d-none d-sm-block">
          <img class="img-fluid img-full-width" src="assets/images/29658.jpg" alt="Jeff Wolfe does research in the compositional analysis lab at the Field Test Laboratory Building (FTLB) at the National Renewable Energy Laboratory in Golden, CO. (Photo by Dennis Schroeder / NREL)">
          <div class="card-body">
            <p class="card-text">Explore HVAC resources for laboratory-specific systems, specifically single-pass.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 disclaimer">
    <p>This Resource Map does not duplicate guidance provided in codes and standards, and it should not be used in lieu of professional engineering services.</p>
  </div>
</div>