<div class="row">
  <div class="col-12">
    <h1>Headline</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p class="lead">Quick access to a broad array of quality information on design, operations and maintenance best practices, and energy and water efficiency measuers for facility managers, operations staff, and design engineers who want to improve central plant and distribution efficiency but don't have time to search for these resources.</p>
  </div>
  <div class="col-md-6">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card-deck my-5">
      <div class="card mt-3 mt-lg-0">
        <div class="card-header">
          <h2><a routerLink="/commercial-hvac">Commercial HVAC</a></h2>
        </div>
        <div class="d-none d-sm-block">
          <img class="img-fluid" src="assets/images/resistance-test.jpg" alt="Resistance test of temperature sensors in the cooling supply section of the ventilation unit. (Photo by Roman Zaiets)">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="card mt-3 mt-lg-0">
        <div class="card-header">
          <h2><a routerLink="/laboratories">Laboratory HVAC</a></h2>
        </div>
        <div class="d-none d-sm-block">
          <img class="img-fluid" src="assets/images/29658.jpg" alt="Jeff Wolfe does research in the compositional analysis lab at the Field Test Laboratory Building (FTLB) at the National Renewable Energy Laboratory in Golden, CO. (Photo by Dennis Schroeder / NREL)">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="card mt-3 mt-lg-0">
        <div class="card-header">
          <h2><a routerLink="/space-loads">Space Loads</a></h2>
        </div>
        <div class="d-none d-sm-block">
          <img class="img-fluid" src="assets/images/23249.jpg" alt="The library, or information commons, in the RSF is designed with energy saving appliances and recycled materials utilizing available light to create a comfortable space for NREL employees. (Photo by Dennis Schroeder / NREL)">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
