<h1>{{ title }}</h1>

<h2>Fan Coil Units</h2>
<p>A fan coil unit (FCU) is an assembly of a fan, heating/cooling coil, and sometimes a filter. It typically serves single zones but can serve multiple zones in some special systems such as the variable refrigerant flow system. FCUs can be served by refrigerant or water. Direct expansion (DX)-type FCUs are installed in electrical rooms where water is not allowed. FCUs are also used in residential buildings.</p>

<h2>Packaged Air Handling Unit</h2>
<p>Packaged air handling units (AHUs) are also called rooftop units (RTUs). The components include a fan, DX cooling system, gas/electric heat source, and filters. Because they are stand-alone units, they are easy to install and maintain compared to an AHU that serves by a central plant. The DX system can be air- or water-cooled.</p>

<h2>Modular Air Handling Unit</h2>
<p>A modular AHU allows the user to customize and choose individual AHU components depending on project requirements. These AHUs are useful at sites that have design constraints such as space limitations or a corrosive environment.</p>

<h2>Custom Air Handling Unit</h2>
<p>A custom AHU is similar to a modular AHU, except that they offer greater flexibility in the design of individual components. They are more expensive compared to the other three AHU types.</p>
